<div id="navigation">
  <header>
    <%= render "shared/nav" %>
  </header>
  <div class="subnav">
    <nav>
      <% @collections.each do |collection| %>
        <a href="/collections/<%= collection.id %>"><%= collection.name %></a>
      <% end %>
    </nav>
  </div>
</div>

<div id="items">
  <section class="blog collections">
    <div id="my-carousel">
      <article style="position: relative">
        <% @collections.each_with_index do |collection, index| %>
        <div class="carousel<% if index == 0 %> active<% end %>">
          <%= image_tag collection.items.first.image_style_one_url %>
          <div class="collections-info">
            <h2><%= collection.name %></h2>
            <p><%= link_to 'View collection', collection %></p>
          </div>
        </div>
        <% end %>
        <p class="carousel-prev"><img src="<%= asset_path "left-arrow.svg"%>" alt="&laquo;" style="height:100%" /></p>
        <p class="carousel-next"><img src="<%= asset_path "right-arrow.svg"%>" alt="&raquo;" style="height:100%" /></p>

        <p class="indicator"></p>
      </article>
    </div> <!-- end carousel -->
   </section>
</div>

<%= render "shared/footer" %>