<div id="navigation">
  <header>
    <%= render "shared/nav" %>
  </header>
  <div class="subnav">
    <nav>
      <% @collections.each do |collection| %>
        <a href="/collections/<%= collection.id %>"><%= collection.name %></a>
      <% end %>
    </nav>
  </div>
</div>

<div id="items">
  <section class="blog collections">
    <div id="my-carousel">
      <article style="position: relative">
        <% @collections.each_with_index do |collection, index| %>
        <div class="carousel<% if index == 0 %> active<% end %>">
          <%= image_tag collection.items.first.image_style_one_url %>
          <div class="collections-info">
            <h2><%= collection.name %></h2>
            <p><%= link_to 'View collection', collection %></p>
          </div>
        </div>
        <% end %>
        <p class="carousel-prev"><img src="/assets/left-arrow.svg" alt="&laquo;" style="height:100%" /></p>
        <p class="carousel-next"><img src="/assets/right-arrow.svg" alt="&raquo;" style="height:100%" /></p>

        <p class="indicator"></p>
      </article>
    </div> <!-- end carousel -->
   </section>
</div>

<%= render "shared/footer" %>

<script>
/*
 *  
 *  carousel for collections page
 *
 */
$(function(){

  $('header nav').waypoint('sticky');

  var current = 0;
  var items = [];

  $('#my-carousel div.carousel').each(function(){
    items.push(this)
  })

  $(items[current+1]).toggleClass('next');

  $('.carousel-prev').click(function(){
    $(items[current]).toggleClass('active');
    current--;
    if (current == -1) {
      current = items.length - 1
    }
    // take next off next element and put active on it
    $('.next').toggleClass('next');
    $(items[current]).toggleClass('active');

    // put next on next element
    (current-1) < 0 ? $(items[items.length-1]).toggleClass('next') : $(items[current-1]).toggleClass('next');

    console.log(current);
    $('a.curr').removeClass('curr');
    $('.indicator a').eq(current).addClass('curr');
  })

  $('.carousel-next').click(function(){

    
    $(items[current]).toggleClass('active');
    current++;
    if (current == items.length) {
      current = 0
    }
    // take next off next element and put active on it
    $(items[current]).toggleClass('next').toggleClass('active');
    
    // put next on next element
    (current+1) == items.length ? $(items[0]).toggleClass('next') : $(items[current+1]).toggleClass('next');

    $('a.curr').removeClass('curr');
    $('.indicator a').eq(current).addClass('curr');
  })

  var clas="";
  for (var i = 0; i < items.length; i++) {
    if (current == i) {
      clas = "curr";
    } else {
      clas = "";
    }
    $('.indicator').append('<a href="#" class="'+clas+'"><span>dot</span></a>');
  }

  //$('article').css('height', items[current].offsetHeight);

  if(items.length < 2){
      $('.carousel-prev').remove();
      $('.carousel-next').remove();
  }
  
})
</script>