<div id="navigation">
  <header>
    <%= render "shared/nav" %>
  </header>
  <div class="subnav">
    <nav>
      <% @collections.each do |collection| %>
        <a href="/collections/<%= collection.id %>"><%= collection.name %></a>
      <% end %>
    </nav>
  </div>
</div>

<div id="items">
  <section class="blog collections">
    <% @collections.each do |collection| %>
      <article style="position: relative">
        <div class="collections-info">
          <h2><%= collection.name %></h2>
          <p><%= link_to 'View collection', collection %></p>
        </div>  
        <%= image_tag collection.items.first.image_style_one_url %>
      </article>
    <% end %>
   </section>

  <!-- Backbone shizzle -->
   <script type="text/javascript">
  //   $(function() {
  //     window.router = new ShimellMadden.Routers.HomepageRouter({items: <%= @items.to_json.html_safe -%>});
  //     Backbone.history.start({pushState: true});
  //   });

  </script>
  <!-- end Backbone shizzle -->
</div> <!-- end items -->

<%= render "shared/footer" %>