<section class="blog collections">
  <header>
    <%= render "shared/nav" %>
  </header>
  <div>
  <nav>
    <% @collections.each do |collection| %>
      <a href="/collections/<%= collection.id %>"><%= collection.name %></a>
    <% end %>
  </nav>
  </div>
  <article style="position: relative">
    <div class="collections-info">
      <h2><%= @collections.first.name %></h2>
      <p><%= link_to 'View collection', @collections.first %></p>
    </div>
    <img src="/assets/about.jpg" />
  </article>
 </section>

 <%= render "shared/footer" %>