<div id="navigation">
  <header>
    <%= render "shared/nav" %>
  </header>
  <div class="subnav">
    <nav>
      <% @collections.each do |coll| %>
        <a href="/collections/<%= coll.id %>" <%= if coll.id == @collection.id then "class=current" end %>><%= coll.name %></a>
      <% end %>
    </nav>
  </div>
</div>

<div id="items">
  <section class="blog collection">
    <div class="collection-info">
      <h2><%= @collection.name %></h2>
      <p style="height: 0; overflow: hidden; padding: 0; border: 0"><%= @collection.description %></p>
      <p class="collectionInfo">Show info <img style="float: right; padding-top: 3px" class="down-triangle" src="/assets/down-arrow-grey.svg" /></p>
    </div>
    <article style="position: relative">
      <div id="my-carousel">
      <% @items.each_with_index do |item, index| %>
        <div class="carousel<% if index == 0 %> active<% end %>">
          <img src="<%= item.imageStyleOne.url %>" />
          <p class="carousel-prev"><img src="<%= asset_path "left-arrow.svg"%>" alt="&laquo;" style="height:100%" /></p>
          <p class="carousel-next"><img src="<%= asset_path "right-arrow.svg"%>" alt="&raquo;" style="height:100%" /></p>
          <% if item.shopifyid %>
            <div class="notes shopthis">
              <p><a href="http://shopify.com/<%= item.shopifyid %>">Shop <%= item.name %></a></p>
            </div>
          <% end %>
        </div>
      <% end %>
      </div> <!-- end carousel -->
      <p class="indicator"></p>
    </article>
    <div class="notes bottomback">
      <p><a href="/collections">Back to collections</a></p>
    </div>
  </section>
</div>

<% content_for :perpagejs do %>
<script>
  $(function(){
    var open = false;

    $('.collectionInfo').click(function(){
      if (open) {
        $(this).prev().css({ 'height' : '0', 'padding' : '0', 'border-top' : 'none'});
        $('img', this).attr('src', '<%= asset_path \'/assets/down-arrow-grey.svg\'');
        open = false;
      } else {
        $(this).prev().css({ 'height' : 'auto', 'padding' : '8px 0', 'border-top' : '1px solid #fff'});
        $('img', this).attr('src', '<%= asset_path \'/assets/up-arrow-grey.svg\' %>);
        open = true;
      }
    })
  })
</script>
<% end %>