<% if (typeof collectionItemImage != 'undefined') { %>
<div class="collections-info">
  <h2><a href="/collections/<%= id %>"><%= name %></a></h2>
  <p><a href="/collections/<%= id %>">View collection</a></p>
</div>
<% } %>

<% if (typeof image_style_one_url != 'undefined') { %>
<!-- <img class="slide" src="<%= image_style_one_url %>" width="100%" height="100%" /> -->
<div class="not-fullscreen background" style="background-image:url('<%= image_style_one_url %>');" data-img-width="3000" data-img-height="2144">
    <div class="content-a">
        <div class="content-b">
            Centered content
        </div>
    </div>
</div>

<% } else if (typeof collectionItemImage != 'undefined') { %>
<!-- <img class="slide" src="<%= collectionItemImage %>" width="100%" height="100%" /> -->
<div class="not-fullscreen background" style="background-image:url('<%= collectionItemImage %>');" data-img-width="3000" data-img-height="2144">
    <div class="content-a">
        <div class="content-b">
            Centered content
        </div>
    </div>
</div>
<% } %>

