<% if (typeof collectionItemImage != 'undefined') { %>
<div class="collections-info">
  <h2><a href="/collections/<%= id %>"><%= name %></a></h2>
  <p><a href="/collections/<%= id %>">View collection</a></p>
</div>
<% } %>

<% if (typeof image_style_one_url != 'undefined') { %>
<img class="slide" src="<%= image_style_one_url %>" width="100%" height="100%" />
<% } else if (typeof collectionItemImage != 'undefined') { %>
<img class="slide" src="<%= collectionItemImage %>" width="100%" height="100%" />
<% } %>