{% comment %}

  This snippet renders a custom widget based on the current 'paginate' context,
  defined in { % paginate XXXX by 5 % } tags wrapping the content.
  The example below breaks the pagination down so you can setup your own styles and behavior if you wish.

  Basic Pagination Usage:
    <div class="pagination">
      {{ paginate | default_pagination }}
    </div>

  Replace Text:
    <div class="pagination">
      {{ paginate | default_pagination | replace: 'Previous', 'Newer articles' | replace: 'Next', 'Older articles' }}
    </div>

  More information:
   - index#pagination
   - http://docs.shopify.com/themes/liquid-variables/paginate

{% endcomment %}

<div class="pagination-custom">
  {% if paginate.previous %}
    <span><a href="{{ paginate.previous.url }}" title="{{ paginate.previous.title }}"><svg id="icon-arrow_small_left_idle" viewBox="0 0 1024 1024"><path class="path1" d="M486.4 738.743l51.2-51.2-149.943-138.971h380.343v-73.143h-380.343l149.943-138.971-51.2-51.2-248.686 226.743z" />
        <path class="path2" d="M0 512c0 281.6 230.4 512 512 512s512-230.4 512-512-230.4-512-512-512-512 230.4-512 512zM950.857 512c0 241.371-197.486 438.857-438.857 438.857s-438.857-197.486-438.857-438.857c0-241.371 197.486-438.857 438.857-438.857s438.857 197.486 438.857 438.857z" />
        </svg></a></span>
  {% else %}
    <span class="disabled"><span style="display :block; width:32px">&nbsp;</span></span>
  {% endif %}

  {% for part in paginate.parts %}
    {% if part.is_link %}
      <span>
        <a href="{{ part.url }}" title="">{{ part.title }}</a>
      </span>
    {% else %}
      {% if part.title == paginate.current_page %}
        <span class="active"><span>{{ part.title }}</span></span>
      {% else %}
        <span><span>{{ part.title }}</span></span>
      {% endif %}
    {% endif %}
  {% endfor %}

  {% if paginate.next %}
    <span><a href="{{ paginate.next.url }}" title="{{ paginate.next.title }}"><svg id="icon-arrow_small_right_idle" viewBox="0 0 1024 1024">
            <path class="path1" d="M537.6 285.257l-51.2 51.2 149.943 138.971h-380.343v73.143h380.343l-149.943 138.971 51.2 51.2 248.686-226.743z" />
            <path class="path2" d="M1024 512c0-281.6-230.4-512-512-512s-512 230.4-512 512 230.4 512 512 512 512-230.4 512-512zM73.143 512c0-241.371 197.486-438.857 438.857-438.857s438.857 197.486 438.857 438.857c0 241.371-197.486 438.857-438.857 438.857s-438.857-197.486-438.857-438.857z" />
          </svg></a></span>
  {% else %}
    <span class="disabled"><span style="display :block; width:32px">&nbsp;</span></span>
  {% endif %}
</div>