<div id="navigation">
  <header>
    <a href="http://178.62.4.10"><img src="{{ 'logo.svg' | asset_url }}" width="32.3" height="37.4" /></a>
    <p class="nav-header">
      <span>Shop</span>
      <img style="position: absolute; right: 0; top: 14px; padding: 0; margin: 0;" src="{{ 'menu-closed.svg' | asset_url }}" width="22" height="14" />
    </p>
    <nav>
      <a href="http://178.62.4.10/collections">Collections</a>
      <a href="http://178.62.4.10/archive">Archive</a>
      <a href="http://178.62.4.10/projects">Projects</a>
      <a href="http://178.62.4.10/about">Information</a>
      <a href="https://shimell-and-madden-2.myshopify.com">Shop</a>
      <a href="/cart" id="cartToggle">Cart <span id="cartCost">{{ cart.total_price | money }}</span> / <span id="cartCount">{{ cart.item_count }}</span> {{ cart.item_count | pluralize: 'item', 'items' }} <svg id="icon-shopping_cart_idle" viewBox="0 0 1024 1024">
          <path class="path1" d="M512 0c-281.6 0-512 230.4-512 512s230.4 512 512 512 512-230.4 512-512c0-281.6-230.4-512-512-512zM512 950.857c-241.371 0-438.857-197.486-438.857-438.857s197.486-438.857 438.857-438.857c241.371 0 438.857 197.486 438.857 438.857s-197.486 438.857-438.857 438.857z" />
          <path class="path2" d="M621.714 373.029v-73.143c0-62.171-47.543-109.714-109.714-109.714s-109.714 47.543-109.714 109.714v73.143h-106.057l-43.886 365.714h522.971l-43.886-365.714h-109.714zM475.429 299.886c0-21.943 14.629-36.571 36.571-36.571s36.571 14.629 36.571 36.571v73.143h-73.143v-73.143zM332.8 665.6l29.257-219.429h299.886l29.257 219.429h-358.4z" />
          </svg></a>
    </nav>
  </header>
</div>
