<% content_for :subnav do %>
<div id="subnav">
  <%= render "shared/subnav" %>
</div>
<% end %>

<section class="info blog news">
  
  <% @blogs.each do |blog| %>
    <div class="news-item">
      <aside>
        <h2><%= if blog.date then blog.date.strftime("%d.%m.%Y") end %> </h2>
        <h2><%= blog.headline %></h2>
        <%= blog.body.html_safe %> 
      </aside>

      <article style="position: relative; display: block;">

      <!-- if multiple images in news item, do a carousel -->
        <% if blog.blogImage1_file_name and blog.blogImage2_file_name %>
        <div id="my-carousel" class="my-carousel">
          <div class="carousel active background">
            <%= image_tag blog.img_url1_large %>
          </div>
          <div class="carousel background">
            <%= image_tag blog.img_url2_large %>
          </div>
          <% if blog.blogImage3_file_name %>
          <div class="carousel background">
            <%= image_tag blog.img_url3_large %>
          </div>
          <% end %>
          
          <%= render "shared/carouselnav" %>

          <p class="indicator"></p>
        </div> <!-- end my-carousel -->
        <!-- else use a single news item image -->
        <% else %>
          <% if blog.blogImage1_file_name %>
            <%= image_tag blog.img_url1_large %>
          <% else %>
            <img src="<%= asset_path "_about.jpg" %>" />
          <% end %>
        <% end %>

      </article>
    </div>
  <% end %>
  
 </section>

<%= will_paginate @blogs %>

<% content_for :perpagejs do %>
<script>
  var page = <%= @page %>;
  $(function() {
  
    $('footer').appear();

    $(document.body).on('appear', 'footer', function(e) {
      var $this = $(this);
      if ($this.data('am-i-appeared')) {
        return;
      }
      $this.data('am-i-appeared', true);
      page++;

      // get paginated news items
      $.get('/news.json?page=' + page, function(resp){

        for(var i = 0; i < resp.length; i++) {

          var img1 = img2 = img3 = "";
          var images = "";
          var buttons = "";

          if (resp[i].blogImage1) {
            img1 = '<img src="'+resp[i].blogImage1+'" />';
          } else {
            img1 = '<img src="<%= asset_path "about.jpg" %>" />';
          }
          if (resp[i].blogImage2) {
            img2 = '<div class="carousel background"><img src="'+resp[i].blogImage2+'" /></div>';
          }
          if (resp[i].blogImage3) {
            img3 = '<div class="carousel background"><img src="'+resp[i].blogImage3+'" /></div>';
          }

          if (img1 && img2) {
            images = '<div id="my-carousel" class="my-carousel" style="height: auto"><div class="carousel active background"><img src="'+resp[i].blogImage1+'" /></div>'+img2+img3;
            buttons = '<p class="carousel-prev"><svg id="icon-arrow_big_left_idle" viewBox="0 0 1024 1024"><path class="path1" d="M1024 512c0 282.77-229.23 512-512 512s-512-229.23-512-512c0-282.77 229.23-512 512-512s512 229.23 512 512z" /><path class="path2" d="M689.231 764.062l-454.892-252.062 454.892-252.062v504.123zM317.046 512l332.8 185.108v-370.215l-332.8 185.108z" /></svg></p><p class="carousel-next"><svg id="icon-arrow_big_right_idle" viewBox="0 0 1024 1024"><path class="path1" d="M1024 512c0 282.77-229.23 512-512 512s-512-229.23-512-512c0-282.77 229.23-512 512-512s512 229.23 512 512z" /><path class="path2" d="M334.769 259.938l454.892 252.062-454.892 252.062v-504.123zM374.154 326.892v370.215l332.8-185.108-332.8-185.108z" /></svg></p><p class="indicator"></p></div>';
          } else {
            images = img1;
          }

          $('<div class="news-item" style="opacity:0;"><aside><h2>' + resp[i].created_at + '</h2><h2>' + resp[i].headline + '</h2>' + resp[i].body + '</aside><article style="position: relative; display: block;">'+images+buttons+'</article></div>').appendTo('section').animate({ opacity : 1 }, 1500);

        }
        if(resp.length < 3) {
          $this.data('am-i-appeared', true);
        } else {
          $this.data('am-i-appeared', false);
        }

        // run carousel on new items
        var pp = (page-1)*3;
        $('.news-item:gt('+pp+') .my-carousel').each(function(){
          doCarousel(this);
        });

      });

    });
  });
</script>
<% end %>

