<div id="navigation">
<header>
  <%= render "shared/nav" %>
</header>
<div id="subnav">
  <%= render "shared/subnav" %>
</div>
</div>

<section class="blog projectitem">
  
  <aside>
    <h2><%= @blog.headline %></h2>
    <p class="desc"><%= @blog.body.html_safe %></p>
    <p class="topback"><%= link_to 'Back to blogs', blogs_path %></p>
  </aside>
  <article style="position: relative;">
    <% if @blog.blogImage1_file_name %>
      <%= image_tag @blog.blogImage1 %>
    <% else %>
      <img src="<%= asset_path "about.jpg" %>" />
    <% end %>
  </article>
 </section>