<% content_for :perpageclass do %>archive <% end %>

<section class="blog archive">
  <aside>
    <h2>Archive</h2>

    <ul class="category-nav">
    <li>Category <img style="float: right; padding-top: 3px" class="down-triangle" src="<%= asset_path 'down-arrow-grey.svg'%>" />
      <ul <%= if params['category'] == nil then raw('style="display: none"') end %>>
      <% @categories.each do |category| %>
        <li><a href="?category=<%= category.id %>" <%= if category.id.to_s == params['category'] then raw("class='current'") end %>><%= category.name %></a><%= if category.id.to_s == params['category'] then raw('<a style="float:right" class="current" href="/archive">&times;</a>') end %></li>
      <% end %>
      </ul>
    </li>
    <li>Date <img style="float: right; padding-top: 3px" class="down-triangle" src="<%= asset_path 'down-arrow-grey.svg'%>" />
      <ul <%= if params['date'] == nil then raw('style="display: none"') end %>>
        <% @months.each do | month | %>
          <li><a href="?date=<%= month %>" <%= if month == params['date'] then raw("class='current'") end %>><%= month %></a><%= if month == params['date'] then raw('<a style="float:right" class="current" href="/archive">&times;</a>') end %></li>
        <% end %>
      </ul>
    </li>
    </ul>
  </aside>

  <article>
    <% @items.each_with_index do |item, index| %>
      <div class="archive-item">
        <div class="table">
            <div style="display: inline-block; position: relative;">
              <a href="/archive/<%= item.id %>"><img class="image" src="<%= asset_path item.itemImage %>" style="margin: 0 auto; <%= if item.itemImage.height > item.itemImage.width then "height: 220px; width: auto" else "height: auto; width: 100%" end %>" /></a>
              <!-- info overlay -->
              <a class="overlaylink" href="/archive/<%= item.id %>">
                <div class="item-overlay">
                  <div class="tc">
                    <img class="down-triangle" src="<%= asset_path "down-triangle.svg" %>" />
                    <p><%= if item.group then item.group.name end %></p>
                  </div>
                </div>
              </a>
            </div>
        </div>
      </div>
    <% end %>
  </article>
</section>

<%= will_paginate @items %>

<% content_for :perpagejs do %>
<script>
$(function(){
  var toggle = 0;
  $('.category-nav>li').click(function(){
    if (!$(this).data('toggle')) {
      $(this).data('toggle', 0);
    }
    if ($(this).data('toggle') == 0 ) {
      $('img', this).attr('src', '<%= asset_path "up-arrow-grey.svg" %>');
      $(this).data('toggle', 1);
    } else {
      $('img', this).attr('src', '<%= asset_path "down-arrow-grey.svg" %>');
      $(this).data('toggle', 0);
    }
    $(this).closest('li').find('ul').toggle();
  })

  // only do this for non-touch devices because it's hover behaviour
  $('.table div img.image').on('hover', function(){
      $(this).next('.item-overlay').data('my-height', $(this).height());
      $(this).next('.item-overlay').css('height', $(this).height());
  })
})

/* 
 *  this is for infinite scroll
*/
var page = 1;
var item = 6;
var assTri = '<%= asset_path 'down-triangle.svg' %>';

function getItems(pageNumber) {
  $.get('/archive.json?page=' + page, function(resp){

    for(var i = 0; i < resp.length; i++) {
      
      // when response arrives, hide progeress indicator
      $('article img.progress').animate({ opacity : 0 }, function(){
        this.remove();
      })
      
      // add new archive items to page 
      $('<div class="archive-item"><div class="table"><div style="display: inline-block; position: relative;">' + 
        '<a href="/archive/' + resp[i].id + '"><img class="image" src="' + resp[i].itemImage + '" style="margin: 0 auto;' + (resp[i].height > resp[i].width ? "height: 220px; width: auto" : "height: auto; width: 100%") + '" /></a>' +
        '<a class="overlaylink" href="/archive/' + resp[i].id + '"><div class="item-overlay"><div class="tc">' + 
        '<img class="down-triangle" src="'+ assTri +'" />' + 
        '<p>' + (resp[i].group != undefined ? resp[i].group.name : "" )+ '</p>' + 
        '</div></div></a></div></div></div>').appendTo($('article')).animate({ opacity : 1 }, 1500);
    }

    if(resp.length < 9) {
      $('footer').data('am-i-appeared', true);
    } else {
      $('footer').data('am-i-appeared', false);
    }

    item += resp.length;
  });
}


// this sets up the element we watch to check when it enters the viewport
// so we can load more content. in our case it's the footer
$('document').ready(function() {

  $('footer').appear();

  $(document.body).on('appear', 'footer', function(e) {
    var $this = $(this);
    if ($this.data('am-i-appeared')) {
      return;
    }
    $this.data('am-i-appeared', true);
    page++;
    getItems(page);
  });

});  


</script>
<% end %>