<% content_for :perpageclass do %>archive <% end %>

<section class="blog archive">
  <aside>
    <h2>Archive</h2>

    <ul class="category-nav">
    <li>Category <%= render "shared/plus" %>

      <ul <%= if params['category'] == nil then raw('style="display: none"') end %>>
      <% @categories.each do |category| %>
        <li>
          <a href="?category=<%= category.id %>" <% if category.id.to_s == params['category'] then %>class="current"<% end %>>
            <%= category.name %>
          </a>
          <% if category.id.to_s == params['category'] then %>
            <a style="float:right" class="current" href="/archive"><%= render "shared/searchactive" %></a>
          <% end %>
       </li>
      <% end %>
      </ul>
    </li>
    <li>Date <%= render "shared/plus" %>
      <ul <%= if params['date'] == nil then raw('style="display: none"') end %>>
        <% @months.each do | month | %>
          <li>
            <a href="?date=<%= month %>" <%= if month == params['date'] then raw("class='current'") end %>>
              <%= month %>
            </a>
            <% if month == params['date'] then %>
              <a style="float:right" class="current" href="/archive"><%= render "shared/searchactive" %></a>
            <% end %>
          </li>
        <% end %>
      </ul>
    </li>
    </ul>
  </aside>

  <article>
    <% @items.each_with_index do |item, index| %>
      <div class="archive-item">
        <div class="table" style="width: 100%;">
            <div style="display: inline-block; position: relative; width: 100%;">
              <a href="/archive/<%= item.id %>"><div class="image" style="display: block; height: 100%; width: 100%; background-image: url(<%= asset_path item.img_url_large %>); margin: 0 auto; height: 200px; background-size: cover; background-repeat: no-repeat;  background-position: 50% <%= if item.weight == 0 then "50%" elsif item.weight ==  1 then "0" else "100%" end %>" /></div></a>
              <!-- info overlay -->
              <a class="overlaylink" href="/archive/<%= item.id %>">
                <div class="item-overlay">
                  <div class="tc">
                    <span><%= item.name %></span>
                    <hr/>
                    <%= if item.date? then item.date.strftime("%Y") else item.created_at.strftime("%Y") end %>
                  </div>
                </div>
              </a>
            </div>
        </div>
      </div>
    <% end %>
  </article>
</section>

<%= will_paginate @items %>

<% content_for :perpagejs do %>
<script>
$(function(){
  var toggle = 0;
  $('.category-nav>li').click(function(){
    $(this).toggleClass('open');
    $(this).closest('li').find('ul').toggle();
  })

  // only do this for non-touch devices because it's hover behaviour
  $('.table div img.image').on('hover', function(){
      $(this).next('.item-overlay').data('my-height', $(this).height());
      $(this).next('.item-overlay').css('height', $(this).height());
  })
})

/* 
 *  this is for infinite scroll
*/
var page = 1;
var item = 6;
var assTri = '<%= asset_path 'down-triangle.svg' %>';
var weights = [50, 0, 100];

function getItems(pageNumber) {
  $.get('/archive.json?page=' + page, function(resp){

    for(var i = 0; i < resp.length; i++) {
      
      // when response arrives, hide progeress indicator
      $('article img.progress').animate({ opacity : 0 }, function(){
        this.remove();
      })
      
      // add new archive items to page 
      $('<div class="archive-item"><div class="table"><div style="display: inline-block; position: relative; width: 100%">' + 
        '<a href="/archive/' + resp[i].id + '">' +

        '<div class="image" style="display: block; height: 100%; width: 100%; background-image: url('+resp[i].small+'); margin: 0 auto; height: 200px; background-size: cover; background-repeat: no-repeat;  background-position: 50%  ' + (item.weight == 0 ? "50%" : item.weight ==  1 ? "0" : "100%") + '" /></div>' +


        '</a>' +
        '<a class="overlaylink" href="/archive/' + resp[i].id + '"><div class="item-overlay"><div class="tc">' + 
        '<span>' + resp[i].name + '</span><hr/>' +
        (resp[i].date ? new Date(resp[i].date).getFullYear() : new Date(resp[i].created_at).getFullYear()) +
        '</div>' + 
        '</div></div></a></div></div></div>').appendTo($('article')).animate({ opacity : 1 }, 1500);
    }

    if(resp.length < 9) {
      $('footer').data('am-i-appeared', true);
    } else {
      $('footer').data('am-i-appeared', false);
    }

    item += resp.length;
  });
}


// this sets up the element we watch to check when it enters the viewport
// so we can load more content. in our case it's the footer
$('document').ready(function() {

  $('footer').appear();

  $(document.body).on('appear', 'footer', function(e) {
    var $this = $(this);
    if ($this.data('am-i-appeared')) {
      return;
    }
    $this.data('am-i-appeared', true);
    page++;
    getItems(page);
  });

});  


</script>
<% end %>