<div id="items">
  <section class="blog collections">
    <article style="position: relative">
      <div id="my-carousel">
        <div class="collections-info">
          <h2>Collections</h2>
          <% @collections.each do |collection| %>
            <p><a href="/collections/<%= collection.id %>"><%= collection.name %></a></p>
          <% end %>
        </div>
        <% @collections.each_with_index do |collection, index| %>
        <div class="carousel<% if index == 0 %> active<% end %>">
        
          <div class="collections-info">
            <h2>Collections</h2>
            <% @collections.each do |collection| %>
              <p><a href="/collections/<%= collection.id %>"><%= collection.name %></a></p>
            <% end %>
          </div>

          <a href="/collections/<%= collection.id %>">
            <div class="imgcontainer" style="background-size: cover; background-position: 50% 50%; background-image: url(<%= collection.images.first.itemImage.url %>)">
              
              <div class="aboutcoll" style="position: absolute; bottom:0; width: 330px; left: 50%; margin-left: -165px; height: 40%; color: #fff; text-align: center;">
                <h3 style="color: #fff; font-size: 60px;"><%= collection.name %></h3>
                <hr style="font-size: 22px; margin: 16px auto; border-style: solid;">
                <p><%= collection.description %></p>  
                <p style="display: inline-block; color: #fff; margin: 2em 0; border: 1px solid #fff; padding: 0.5em 1em; font-size: 0.8em;">Read more about <%= collection.name %></p>
              </div>
              
            </div>
          </a>
        </div>
        <% end %>
      </div>
      <p class="carousel-prev"><img src="<%= asset_path "left-arrow.svg"%>" alt="&laquo;" style="height:100%" /></p>
      <p class="carousel-next"><img src="<%= asset_path "right-arrow.svg"%>" alt="&raquo;" style="height:100%" /></p>
      <p class="indicator"></p>
    </article>
  </section>
</div>

<% content_for :perpagejs do %>
<script>
    if (!Modernizr.touch) {
      carouselAuto = window.setInterval(function(){
        //$('.carousel-next').click();
      }, 4000);
    }
</script>
<% end %>