<% content_for :meta do %>
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@Shimell_Madden">
<meta name="twitter:title" content="<%= @collections.first.name %>">
<meta name="twitter:description" content="<%= @collections.first.description %>">
<meta name="twitter:image:src" content="http://www.shimellandmadden.com<%= @collections.first.images.first.img_url_large %>">
<meta name="twitter:domain" content="shimellandmadden.com">

<meta property="og:title" content="<%= @collections.first.name %>" />
<meta property="og:site_name" content="Shimell and Madden"/>
<meta property="og:url" content="http://www.shimellandmadden.com/collections/" />
<meta property="og:description" content="<%= @collections.first.description %>" />
<meta property="og:image" content="http://www.shimellandmadden.com<%= @collections.first.images.first.img_url_large %>" />
<meta property="fb:app_id" content="560942770677358" />
<meta property="og:type" content="article" />
<% end %>

<div id="items">
  <section class="blog collections">
    <article style="position: relative">

        <% @collections.each_with_index do |collection, index| %>

        <div class="collection-box">
          <div class="imgcontainer" style="background-image: url(<%= collection.images.first.img_url_large %>)">
            <div class="table">
              <a class="overlaylink" href="/collections/<%= collection.id %>">
                <div class="item-overlay" style="height:100%;">
                  <div class="tc" style="height:100%">
                    <span style="color: #fff"><%= collection.name %></span>
                    <hr/>
                    <%= collection.description.html_safe %>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <span><%= collection.name %></span>
        </div>
        <% end %>
    </article>
  </section>
</div>