<% content_for :subnav do %>
  <div id="subnav">
      <% @collections.each do |collection| %>
        <a href="/collections/<%= collection.id %>"><%= collection.name %></a>
      <% end %>
  </div>
<% end %>

<div id="items">
  <section class="blog collections">
    <article style="position: relative">
      <div id="my-carousel">
        <% @collections.each_with_index do |collection, index| %>
        <div class="carousel<% if index == 0 %> active<% end %>">
          <div class="collections-info">
            <a href="/collections/<%= collection.id %>"><h2><%= collection.name %></h2></a></h2>
            <p><a href="/collections/<%= collection.id %>">View collection</a></p>
          </div>
          <a href="/collections/<%= collection.id %>">
            <div class="imgcontainer" style="background-size: cover; background-position: 50% 50%; background-image: url(<%= collection.images.first.large.url %>)"></div>
          </a>
        </div>
        <% end %>
      </div>
      <p class="carousel-prev"><img src="<%= asset_path "left-arrow.svg"%>" alt="&laquo;" style="height:100%" /></p>
      <p class="carousel-next"><img src="<%= asset_path "right-arrow.svg"%>" alt="&raquo;" style="height:100%" /></p>
      <p class="indicator"></p>
    </article>
  </section>
</div>

<% content_for :perpagejs do %>
<script>
    if (!Modernizr.touch) {
      carouselAuto = window.setInterval(function(){
        $('.carousel-next').click();
      }, 4000);
    }
</script>
<% end %>