<% content_for :meta do %>
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@Shimell_Madden">
<meta name="twitter:title" content="<%= @group.name %>">
<meta name="twitter:description" content="<%= @group.description %>">
<meta name="twitter:image:src" content="http://www.shimellandmadden.com<%= @group.images.first.img_url_large %>">
<meta name="twitter:domain" content="shimellandmadden.com">

<meta property="og:title" content="<%= @group.name %>" />
<meta property="og:site_name" content="Shimell and Madden"/>
<meta property="og:url" content="http://www.shimellandmadden.com/collections/<%= @group.id %>" />
<meta property="og:description" content="<%= @group.description %>" />
<meta property="og:image" content="http://www.shimellandmadden.com<%= @group.images.first.img_url_large %>" />
<meta property="fb:app_id" content="560942770677358" />
<meta property="og:type" content="article" />
<% end %>

  <% content_for :subnav do %>
  <div id="subnav">
    <nav>
      <% @collections.each do |coll| %>
        <a href="/collections/<%= coll.id %>" <%= if coll.id == @group.id then "class=current" end %>><%= coll.name %></a>
      <% end %>
    </nav>
  </div>
  <% end %>

<div id="items">
  <section class="blog collection">
    <div class="collection-info">
      <h2><%= @group.name %></h2>
      <% if @group.description %><p><%= @group.description.html_safe %></p><% end %>
      <p><a href="/collections">Back to collections</a></p>
    </div>
    <article style="position: relative">
      <div id="my-carousel" class="my-carousel">
      
      <p class="carousel-prev">
        <%= render "shared/leftarrow" %>
      </p>
      <p class="carousel-next">
        <%= render "shared/rightarrow" %>
      </p>


      <% @items.each_with_index do |item, index| %>
        <div class="carousel<% if index == 0 %> active<% end %><% if item.itemImage.height > item.itemImage.width %> talll<% else %> widee<% end %>">

          <div class="imgcontainer <%= item.itemImage.height > item.itemImage.width ? "taller" : "wider" %>" style="background-image: url(<%= item.img_url_large %>)"></div>
        </div>
      <% end %>
      </div> <!-- end carousel -->
      
      <% if @group.shopifyId != "" %>
        <div class="collection-spec">
            <a class="shopthis" href="http://shop.shimellandmadden.com/collections/<%= @group.shopifyId %>">Shop <%= @group.name %></a>
        </div>
       <% end %>
     

      <p class="indicator"></p>
    </article>
    <% if @group.shopifyId != "" %>
      <div class="notes bottomback" style="margin-bottom: 0; border-bottom: 0;">
        <p><a href="http://shop.shimellandmadden.com/collections/<%= @group.shopifyId %>">Shop <%= @group.name %></a></p>
      </div>
    <% end %>
    <div class="notes bottomback" style="margin-top: 0;">
      <p><a href="/collections">Back to collections</a></p>
    </div>
  </section>
</div>

<% content_for :perpagejs do %>
<script>
  $(function(){
    var open = false;

    $('.collectionInfo').click(function(){
      if (open) {
        $(this).prev().css({ 'height' : '0', 'padding' : '0', 'border-top' : 'none'});
        $('img', this).attr('src', '<%= asset_path "down-triangle.svg" %>');
        $('span', this).text('Show info');
        open = false;
      } else {
        $(this).prev().css({ 'height' : 'auto', 'padding' : '8px 0', 'border-top' : '1px solid #fff'});
        $('img', this).attr('src', '<%= asset_path "up-triangle.svg" %>');
        $('span', this).text('Hide info');
        open = true;
      }
    })
  })
</script>
<% end %>