<section class="blog projectitem">
  
  <aside>
    <h2><%= @project.name %></h2>
    <p class="desc"><%= @project.description %></p>
    <p class="topback"><%= link_to 'Back to projects', groups_path %></p>
  </aside>
  <article style="position: relative;">
    <div id="my-carousel">
      <% @images.each_with_index do |item, index|%>
        <div class="carousel<% if index == 0 %> active<% end %><% if item.itemImage.height > item.itemImage.width %> talll<% else %> widee<% end %>">
          <div style="background-image: url(<%= item.img_url_large %>);" class="<%= item.itemImage.height > item.itemImage.width ? "taller" : "wider" %>" /></div>
        </div>
      <% end %>
      <p class="carousel-prev"><img src="<%= asset_path "left-arrow.svg"%>" alt="&laquo;" style="height:100%" /></p>
      <p class="carousel-next"><img src="<%= asset_path "right-arrow.svg"%>" alt="&raquo;" style="height:100%" /></p>
    </div> <!-- end carousel -->
    
    <p class="indicator"></p>
    
    <div id="projectnav">
      
      <p id="prev"><% if @previous %><a href="/projects/<%= @previous.id %>">Previous item</a><% end %></p>
      <p id="back"><%= link_to 'Back to Projects', groups_path %></p>
      <p id="next"><% if @next %><a href="/projects/<%= @next.id %>">Next item</a><% end %></p>
    </div>

    <p class="bottomback"><%= link_to 'Back to projects', groups_path %></p>
  </article>
 </section>

 <% content_for :perpagejs do %>
<script>
    carouselAuto = window.setInterval(function(){
      $('.carousel-next').click();
    }, 4000);
</script>
<% end %>