<section class="blog projectitem">
  
  <aside>
    <h2><%= @project.name %></h2>
    <p class="desc"><%= @project.description.html_safe %></p>
    <p class="topback">
      <a href="/projects"><%= render 'shared/leftarrowsmall' %>Back to projects</a></p>
  </aside>
  <article style="position: relative;">
    <div id="my-carousel" class="my-carousel">
      <% @images.each_with_index do |item, index|%>
        <div class="carousel<% if index == 0 %> active<% end %><% if item.itemImage.height > item.itemImage.width %> talll<% else %> widee<% end %>">
          <div style="background-image: url(<%= item.img_url_large %>);" class="<%= item.itemImage.height > item.itemImage.width ? "taller" : "wider" %>" /></div>
        </div>
      <% end %>
      
      <%= render "shared/carouselnav" %>

    </div> <!-- end carousel -->
    
    <p class="indicator"></p>
    
    <div id="projectnav">
      
      <p id="prev">
        <% if @previous %>
        <a href="/projects/<%= @previous.id %>">
          <%= render 'shared/leftarrowsmall' %>
          <span>Previous item</span>
        </a>
        <% end %>
      </p>
      <p id="back"><%= link_to 'Back to Projects', groups_path %></p>
      <p id="next">
        <% if @next %><a href="/projects/<%= @next.id %>"><span>Next item</span><%= render 'shared/rightarrowsmall' %></a><% end %>
      </p>
    </div>

    <p class="bottomback"><%= link_to 'Back to projects', groups_path %></p>
  </article>
 </section>