<% content_for :perpageclass do %><%= params[:type] %> <% end %>


<div id="navigation">
  <header>
    <%= render "shared/nav" %>
  </header>
</div>

<section class="blog projects">
  
  <h2>Projects</h2>

  <article>
    <% @projects.each_with_index do |project, index| %>
      <div class="item item-<%= index+1 %>">
        <div class="not-fullscreen background" style="background-image:url('<%= project.images.first.large.url %>'); background-size: cover">
          <%= link_to group_path(project, type: "projects") do %>
            <div class="content-a">
              <div class="content-b">
                  <img class="down-triangle" src="<%= asset_path "down-triangle.svg" %>" />
                  <p>Projects</p>
                  <%= project.name %>
              </div>
            </div>
          <% end %>
        </div>
        <p class="proj-name"><%= project.name %></p>
      </div>
      <% end %>
  </article>
 </section>

<%= will_paginate @projects %>