<a href="/items"><img src="<%= asset_path "logo.svg" %>" width="32.3" height="37.4" /></a>
<p class="nav-header"><span><%= nav() %></span><img style="position: absolute; right: 0; top: 14px; padding: 0; margin: 0;" src="<%= asset_path "menu-closed.svg" %>" width="22" height="14" /></p>
<nav>
  <a href="/collections"<%= if controller?("groups") && action?("index", "show") && params[:type] == 'collections' then " class=current" end %>>Collections</a>
  <a href="/archive"<%= if controller?("groups") && action?("archive", "archiveshow") then " class=current" end %>>Archive</a>
  <a href="/projects"<%= if controller?("groups") && action?("index", "show") && params[:type] == 'projects' then " class=current" end %>>Projects</a>
  <a href="/about"<%= if controller?("pages") && action?("about", "show") then " class=current" end %>>Information</a>
  <a href="https://shimell-and-madden-2.myshopify.com"<%= if controller?("pages") && action?("shop") then " class=current" end %>>Shop</a>
</nav>