<div id="navigation">
  <header>
    <% if logo %><a href="/"><%= render 'shared/smalllogo' %></a><% end %>

    <!-- used only for mobile views -->
    <div>
    <p class="nav-header"><span><%= nav() %></span>
      <%= render 'shared/closed' %>
      <%= render 'shared/open' %>  
    </p>

    <!-- used for desktop & mobile views -->
    <nav>
      <a href="/collections"<%= if controller?("groups") && action?("index", "show") && params[:type] == 'collections' then " class=current" end %>>Collections</a>
      <a href="/archive"<%= if controller?("groups") && action?("archive", "archiveshow") then " class=current" end %>>Archive</a>
      <a href="/projects"<%= if controller?("groups") && action?("index", "show") && params[:type] == 'projects' then " class=current" end %>>Projects</a>
      <a href="/about"<%= if controller?("blogs") || controller?("pages") && action?("about", "commissioning", "stockists") then " class=current" end %>>Information</a>
      <a href="http://shop.shimellandmadden.com/"<%= if controller?("pages") && action?("shop") then " class=current" end %>>Shop</a>
      <a href="#" class="totop"><%= render 'shared/arrowupidle' %></a>
    </nav>
    </div>
  </header>

  <%= yield :subnav %>
  
</div>