
	<a href="/about"<%= if controller?("pages") && action?("about", "show") then " class=current" end %>><span><img src="<%= asset_path "right-arrow-grey.svg" %>" />&nbsp;</span>About</a>
	<a href="/comissioning"<%= if controller?("pages") && action?("comissioning", "show") then " class=current" end %>><span><img src="<%= asset_path "right-arrow-grey.svg" %>" />&nbsp;</span>Comissioning</a>
	<a href="/news"<%= if controller?("pages") && action?("news", "show") then " class=current" end %>><span><img src="<%= asset_path "right-arrow-grey.svg" %>" />&nbsp;</span>News</a>
	<a href="/contact"<%= if controller?("pages") && action?("contact", "show") then " class=current" end %>><span><img src="<%= asset_path "right-arrow-grey.svg" %>" />&nbsp;</span>Contact</a>
