
	<a href="/about"<%= if controller?("pages") && action?("about", "show") then " class=current" end %>><span><img src="<%= asset_path "right-arrow-grey.svg" %>" />&nbsp;</span>About</a>
	<a href="/commissioning"<%= if controller?("pages") && action?("commissioning", "show") then " class=current" end %>><span><img src="<%= asset_path "right-arrow-grey.svg" %>" />&nbsp;</span>Commissioning</a>
	<a href="/stockists"<%= if controller?("pages") && action?("stockists", "show") then " class=current" end %>><span><img src="<%= asset_path "right-arrow-grey.svg" %>" />&nbsp;</span>Stockists</a>
	<a href="/news"<%= if controller?("blogs") && action?("index") then " class=current" end %>><span><img src="<%= asset_path "right-arrow-grey.svg" %>" />&nbsp;</span>News</a>
