<% content_for :meta do %>
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@Shimell_Madden">
<meta name="twitter:title" content="Commissioning Shimell and Madden">
<meta name="twitter:description" content="Shimell and Madden occupy that space where craft, art and fashion intersect. High quality and hand-crafted, their jewellery explores themes of science, nature and time.">
<meta name="twitter:image:src" content="<%= asset_path "25_crop.jpg" %>">
<meta name="twitter:domain" content="shimellandmadden.com">

<meta property="og:title" content="Commissioning Shimell and Madden" />
<meta property="og:site_name" content="Shimell and Madden"/>
<meta property="og:url" content="http://www.shimellandmadden.com/commissioning" />
<meta property="og:description" content="Shimell and Madden occupy that space where craft, art and fashion intersect. High quality and hand-crafted, their jewellery explores themes of science, nature and time." />
<meta property="og:image" content="<%= asset_path "25_crop.jpg" %>" />
<meta property="fb:app_id" content="560942770677358" />
<meta property="og:type" content="article" />
<% end %>

<% content_for :subnav do %>
<div id="subnav" class="subnav">
	<%= render "shared/subnav" %>
</div>
<% end %>

<% content_for :infopagetop do %>
<div id="info-header" style="background-image: url(<%= asset_path "25_crop.jpg" %>)">
	<h2>Commissioning</h2>
</div>
<% end %>

 	<section class="info blog">

 	<article>
 		<div>
 			<%= @page.content.html_safe %>
 		</div>
 	</article>

 	<aside>
 		<p>To discuss a commission please talk to:</p>
 		<p><em>Emma Simone Madden</em></p>
	 	<p><a href="mailto:emma@shimellandmadden.com"><span class="fulladdress">emma@shimellandmadden.com</span><span class="smalladdress">Email Emma…</span></a></p>
	 	<p><em>Mobile <a target="_blank">+44 (0)7548 887832</a></em></p>
 	</aside>
 </section>