<div id="navigation">
<header>
	<%= render "shared/nav" %>
</header>
<div id="subnav">
	<%= render "shared/subnav" %>
</div>
</div>

<section class="blog contact">
 	<aside>
 		<h2>Contact</h2>
 		<div>
	 		<%= @page.content.html_safe %>

	 		<p><em>Social media</em></p>
	 		<p><img src="<%= asset_path "right-arrow-black.svg" %>" />&nbsp;<a href="#">Facebook</a></p>
	 		<p><img src="<%= asset_path "right-arrow-black.svg" %>" />&nbsp;<a href="#">Twitter</a></p>
	 		<p><img src="<%= asset_path "right-arrow-black.svg" %>" />&nbsp;<a href="#">Instagram</a></p>
	 		<p><img src="<%= asset_path "right-arrow-black.svg" %>" />&nbsp;<a href="#">Tumblr</a></p>
 	</aside>
 	<article>
 		<img src="<%= asset_path "contact.jpg" %>" />
 	</article>
 </section>