<div id="navigation">
<header>
  <%= render "shared/nav" %>
</header>
<div id="subnav">
  <%= render "shared/subnav" %>
</div>
</div>

<section class="info blog news">
  
  <% @blogs.each do |blog| %>
    <div class="news-item">
      <aside>
        <h2><%= blog.created_at.strftime("%d.%m.%Y")%> </h2>
        <h2><%= blog.headline %></h2>
        <%= blog.body.html_safe %> 
      </aside>
      <article>
        <% if blog.blogImage_file_name %>
          <%= image_tag blog.image_style_one_url %>
        <% else %>
          <img src="<%= asset_path "about.jpg" %>" />
        <% end %>
      </article>
    </div>
  <% end %>
  
 </section>

<%= will_paginate @blogs %>

 <%= render "shared/footer" %>