<section class="blog">
  <header>
    <%= render "shared/nav" %>
  </header>
  <div>
    <%= render "shared/subnav" %>
  </div>
  
  <% @blogs.each do |blog| %>
    <div class="news-item">
      <aside>
        <h2><%= blog.created_at.strftime("%d.%m.%Y")%> </h2>
        <h2><%= blog.headline %></h2>
        <%= blog.body.html_safe %> 
      </aside>
      <article>
        <img src="/assets/about.jpg" />
      </article>
    </div>
  <% end %>
  
 </section>

<%= will_paginate @blogs %>

 <%= render "shared/footer" %>