<header>
  <%= render "shared/nav" %>
</header>
<div id="subnav">
  <%= render "shared/subnav" %>
</div>

<section class="info blog news">
  
  <% @blogs.each do |blog| %>
    <div class="news-item">
      <aside>
        <h2><%= blog.created_at.strftime("%d.%m.%Y")%> </h2>
        <h2><%= blog.headline %></h2>
        <%= blog.body.html_safe %> 
      </aside>
      <article>
        <% if blog.blogImage_file_name %>
          <%= image_tag blog.image_style_one_url %>
        <% else %>
          <img src="/assets/about.jpg" />
        <% end %>
      </article>
    </div>
  <% end %>
  
 </section>

<%= will_paginate @blogs %>

 <%= render "shared/footer" %>

 <script type="text/javascript">
 SM = {};

 $('.nav-header').click(function(){
  if(SM.revealed) {
        $('nav').toggleClass('woop');
        SM.revealed = false
        $('.nav-header img').attr('src', '/assets/menu-closed.svg');
    } else {
      $('nav').toggleClass('woop');
      $('.nav-header img').attr('src', '/assets/menu-open.svg');
      SM.revealed = true
    }
 })
 </script>