<section class="blog shop">
<header style="background: #fff;">
    <%= render "shared/nav" %>
</header>
<aside>
  <h2>Shop</h2>
  <ul class="category-nav">
    <li>Type
      <ul>
        <li><a href="?category=1">Rings</a></li>
        <li><a href="?category=2">Necklaces</a></li>
        <li><a href="?category=3">Earrings</a></li>
        <li><a href="?category=4">Other</a></li>
      </ul>
    </li>
    <li>Date</li>
    </ul>
</aside>

<article>
  <div id="items">
    <div class="archive-item">
      <span class="inside">
        <div class="inside-inside">
          <img src="/assets/1800x1286-charcoal.gif" />
          <a href="#">
            <div class="item-overlay">
              <img class="down-triangle" src="<%= asset_path "down-triangle.svg" %>" />
              <p>Archive item</p>
            </div>
          </a>
        </div>
      </span>
    </div>

    <div class="archive-item">
      <span class="inside">
        <div class="inside-inside">
          <img src="/assets/1800x1286-charcoal.gif" />
          <a href="#">
            <div class="item-overlay">
              <img class="down-triangle" src="<%= asset_path "down-triangle.svg" %>" />
              <p>Archive item</p>
            </div>
          </a>
        </div>
      </span>
    </div>

    <div class="archive-item">
      <span class="inside">
        <div class="inside-inside">
          <img src="/assets/1800x1286-charcoal.gif" />
          <a href="#">
            <div class="item-overlay">
              <img class="down-triangle" src="<%= asset_path "down-triangle.svg" %>" />
              <p>Archive item</p>
            </div>
          </a>
        </div>
      </span>
    </div>

    <div class="archive-item">
      <span class="inside">
        <div class="inside-inside">
          <img src="/assets/1800x1286-charcoal.gif" />
          <a href="#">
            <div class="item-overlay">
              <img class="down-triangle" src="<%= asset_path "down-triangle.svg" %>" />
              <p>Archive item</p>
            </div>
          </a>
        </div>
      </span>
    </div>

    <div class="archive-item">
      <span class="inside">
        <div class="inside-inside">
          <img src="/assets/1800x1286-charcoal.gif" />
          <a href="#">
            <div class="item-overlay">
              <img class="down-triangle" src="<%= asset_path "down-triangle.svg" %>" />
              <p>Archive item</p>
            </div>
          </a>
        </div>
      </span>
    </div>

    <div class="archive-item">
      <span class="inside">
        <div class="inside-inside">
          <img src="/assets/1800x1286-charcoal.gif" />
          <a href="#">
            <div class="item-overlay">
              <img class="down-triangle" src="<%= asset_path "down-triangle.svg" %>" />
              <p>Archive item</p>
            </div>
          </a>
        </div>
      </span>
    </div>

    <div class="archive-item">
      <span class="inside">
        <div class="inside-inside">
          <img src="/assets/1800x1286-charcoal.gif" />
          <a href="#">
            <div class="item-overlay">
              <img class="down-triangle" src="<%= asset_path "down-triangle.svg" %>" />
              <p>Archive item</p>
            </div>
          </a>
        </div>
      </span>
    </div>

    <div class="archive-item">
      <span class="inside">
        <div class="inside-inside">
          <img src="/assets/1800x1286-charcoal.gif" />
          <a href="#">
            <div class="item-overlay">
              <img class="down-triangle" src="<%= asset_path "down-triangle.svg" %>" />
              <p>Archive item</p>
            </div>
          </a>
        </div>
      </span>
    </div>

    <div class="archive-item">
      <span class="inside">
        <div class="inside-inside">
          <img src="/assets/1800x1286-charcoal.gif" />
          <a href="#">
            <div class="item-overlay">
              <img class="down-triangle" src="<%= asset_path "down-triangle.svg" %>" />
              <p>Archive item</p>
            </div>
          </a>
        </div>
      </span>
    </div>
  </div>
</article>
</section>

<%= render "shared/footer" %>