<% content_for :meta do %>
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@Shimell_Madden">
<meta name="twitter:title" content="Shimell and Madden Stockists">
<meta name="twitter:description" content="Shimell and Madden occupy that space where craft, art and fashion intersect. High quality and hand-crafted, their jewellery explores themes of science, nature and time.">
<meta name="twitter:image:src" content="<%= asset_path "22_crop.jpg" %>">
<meta name="twitter:domain" content="shimellandmadden.com">

<meta property="og:title" content="Shimell and Madden Stockists" />
<meta property="og:site_name" content="Shimell and Madden"/>
<meta property="og:url" content="http://www.shimellandmadden.com/stockists" />
<meta property="og:description" content="Shimell and Madden occupy that space where craft, art and fashion intersect. High quality and hand-crafted, their jewellery explores themes of science, nature and time." />
<meta property="og:image" content="<%= asset_path "22_crop.jpg" %>" />
<meta property="fb:app_id" content="560942770677358" />
<meta property="og:type" content="article" />
<% end %>

<% content_for :subnav do %>
<div id="subnav" class="subnav">
  <%= render "shared/subnav" %>
</div>
<% end %>

<% content_for :infopagetop do %>
<div id="info-header" style="background-image: url(<%= asset_path "22_crop.jpg" %>)">
  <h2>Stockists</h2>
</div>
<% end %>

<section class="blog contact info stockists">
  <article>
    <div class="stockists-holder">
      <% @stockists.group_by(&:region).each do |region, stockists| %>
          <div class="stockists-holder-inner <% if params[:region] then %>stockist-solo<% end %>" style="<% if params[:region] && params[:region].to_i != region.id then %>display: none;<% else %>display: block;<% end %>">
            <h2><%= region.name %></h2>
            <% stockists.each do |stockist| %>
              <div class="stockist">
                <p><%= stockist.name %></p>
                <p><%= stockist.address1 %></p>
                <p><%= stockist.address2 %></p>
                <p><%= stockist.address3 %></p>
                <p><%= stockist.address4 %></p>
                <p><a target="_blank" href="http://<%= stockist.website %>"><span class="shortlink">website</span></a></p>
              </div>
            <% end %>
          </div>
        <% end %>
    </div>
  </article>

  <aside>
    <div>
    <% @stockists.group_by(&:region).each do |region, stockists| %>
      <p><a href="/stockists?region=<%= region.id %>"><%= region.name %></a> - <%= stockists.count %></p>
    <% end %>
    </div>
  </aside>
 </section>