<div id="navigation">
  <header>
    <%= render "shared/nav" %>
  </header>
</div>

<section class="blog projects">
  
  <h2>Projects</h2>

  <article>
    <% @projects.each_with_index do |project, index| %>
      <% if index == 0 %>
        <div class="item item-1">
         
      <% elsif index == 1 %>
        <div class="item item-2">
        
      <% elsif index == 2 %>
        <div class="item item-3">
        
      <% elsif index == 3 %>
        <div class="item item-4">
        
      <% elsif index == 4 %>
        <div class="item item-5">
      <% end %>

        <div class="not-fullscreen background" style="background-image:url('<%= project.items.first.imageStyleOne.url %>'); background-size: cover">

          <div class="content-a">
            <div class="content-b">
              <%= link_to project do %>
                  <img class="down-triangle" src="<%= asset_path "down-triangle.svg" %>" />
                  <p>Projects</p>
                  <%= project.name %>
              <% end %>
            </div>
          </div>
        </div>
        <p class="proj-name"><%= project.name %></p>
      </div>
      
      <% end %>
  </article>
 </section>

<%= will_paginate @projects %>