<header>
  <%= render "shared/nav" %>
</header>

  <div id="items">

<section class="blog projects">
  
  <article>
    <% @projects.each_with_index do |project, index| %>
      <% if index == 0 %>
        <div class="item item-1">
        <%= image_tag project.items.first.image_style_one_url %>
      <% elsif index == 1 %>
        <div class="item item-2">
        <%= image_tag project.items.first.image_style_two_url %>
      <% elsif index == 2 %>
        <div class="item item-3">
        <%= image_tag project.items.first.image_style_one_url %>
      <% elsif index == 3 %>
        <div class="item item-4">
        <%= image_tag project.items.first.image_style_three_url %>
      <% elsif index == 4 %>
        <div class="item item-5">
        <%= image_tag project.items.first.image_style_one_url %>
      <% end %>
      <%= link_to project do %>
      <div class="item-overlay">
        <p>Projects</p>
        <%= project.name %>
      </div>
      <% end %>
      <p><%= project.name %></p>
      </div>
      <% end %>
  </article>
 </section>

<%= will_paginate @projects %>

 <%= render "shared/footer" %>

</div>

