<div id="navigation">
  <header>
    <%= render "shared/nav" %>
  </header>
</div>

<section class="blog projects">
  
  <h2>Projects</h2>

  <article>
    <% @projects.each_with_index do |project, index| %>
      <div class="item item-<%= index+1 %>">
        <div class="not-fullscreen background" style="background-image:url('<%= project.items.first.large.url %>'); background-size: cover">
          <div class="content-a">
            <div class="content-b">
              <%= link_to project do %>
                  <img class="down-triangle" src="<%= asset_path "down-triangle.svg" %>" />
                  <p>Projects</p>
                  <%= project.name %>
              <% end %>
            </div>
          </div>
        </div>
        <p class="proj-name"><%= project.name %></p>
      </div>
      <% end %>
  </article>
 </section>

<%= will_paginate @projects %>