<div id="navigation">
  <header>
    <%= render "shared/nav" %>
  </header>
</div>

<section class="blog projectitem">
  
  <aside>
    <h2><%= @project.name %></h2>
    <p class="desc"><%= @project.description %></p>
    <p class="topback"><%= link_to 'Back to projects', projects_path %></p>
  </aside>
  <article style="position: relative;">
    <div id="my-carousel">
      <% @project.items.each_with_index do |item, index|%>
        <div class="carousel<% if index == 0 %> first<% end %>">
          <%= image_tag item.image_style_three_url %>
        </div>
      <% end %>
      <p class="carousel-prev"><img src="/assets/left-arrow.svg" alt="&laquo;" style="height:100%" /></p>
      <p class="carousel-next"><img src="/assets/right-arrow.svg" alt="&raquo;" style="height:100%" /></p>
      <p class="indicator"></p>
    </div> <!-- end carousel -->
    
    <p class="bottomback"><%= link_to 'Back to projects', projects_path %></p>
  </article>
 </section>

 <%= render "shared/footer" %>

<script>
$(function(){
  $('nav').waypoint('sticky');

  var current = 0;
  var items = [];

  $('#my-carousel div.carousel').each(function(){
    items.push(this)
  })

  $('.carousel-prev').click(function(){
    $(items[current]).fadeOut();
    current--;
    if (current == -1) {
      current = items.length - 1
    }
    $(items[current]).fadeIn()
    $('a.curr').removeClass('curr');
    $('.indicator a').eg(current).addClass('curr');
  })

  $('.carousel-next').click(function(){
    $(items[current]).fadeOut();
    current++;
    if (current == items.length) {
      current = 0
    }
    $(items[current]).fadeIn();

    $('a.curr').removeClass('curr');
    $('.indicator a').eq(current).addClass('curr');
  })

  var clas="";
  for (var i = 0; i < items.length; i++) {
    if (current == i) {
      clas = "curr";
    } else {
      clas = "";
    }
    $('.indicator').append('<a href="#" class="'+clas+'"><span>dot</span></a>');
  }

  $('article').css('height', items[current].offsetHeight);

  if(items.length < 2){
      $('.carousel-prev').remove();
      $('.carousel-next').remove();
  }
})
</script>