<div id="navigation">
  <header>
    <%= render "shared/nav" %>
  </header>
</div>

<section class="blog archiveitem">
  <aside>
    <h2>Archive</h2>
    <h3><%= @item.name %></h3>
    <p class="desc"><%= @item.description %></p>
    <p class="topback"><%= link_to 'Back to archive', archive_path %></p>
  </aside>
  <article style="position: relative;">
    <%= image_tag @item.imageStyleOne.url %>
    <p class="bottomback"><%= link_to 'Back to archive', archive_path %></p>
  </article>
</section>