<div id="navigation">
  <header>
    <%= render "shared/nav" %>
  </header>
</div>

<section class="blog archive">
  <aside>
    <h2>Archive</h2>
    <p>Reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <ul class="category-nav">
    <li>Category <img style="float: right; padding-top: 3px" class="down-triangle" src="/assets/down-arrow-grey.svg" />
      <ul>
      <% @categories.each do |category| %>
        <li><a href="?category=<%= category.id %>" <%= if category.id.to_s == params['category'] then raw("class='current'") end %>><%= category.name %></a><%= if category.id.to_s == params['category'] then raw('<a style="float:right" href="/archive">&times;</a>') end %></li>
      <% end %>
      </ul>
    </li>
    <li>Date <img style="float: right; padding-top: 3px" class="down-triangle" src="/assets/down-arrow-grey.svg" />
      <ul>
        <li>June 2014</li>
        <li>May 2014</li>
        <li>April 2014</li>
        <li>March 2014</li>
        <li>February 2014</li>      
      </ul>
    </li>
    </ul>
  </aside>

  <article>
    <% @items.each_with_index do |item, index| %>
      <div class="archive-item">
        <span class="inside">

              <% if item.imageStyleOne.height > item.imageStyleOne.width %>
                <div class="inside-block">
                  <img src="<%= item.imageStyleOne.url %>" height="220px" />
              <% else %>
                <div class="inside-inside">
                  <img src="<%= item.imageStyleOne.url %>" />
              <% end %>
            
              <!-- <a href="/archive/<%= item.id %>">
                <div class="item-overlay">
                  <div class="tc">
                    <img class="down-triangle" src="<%= asset_path "down-triangle.svg" %>" />
                    <p>Archive item</p>
                    <%= item.name %>
                  </div>
                </div>
              </a> -->
            </div>
          </div>
        </span>
      </div>
    <% end %>
  </article>
</section>

<%= will_paginate @items %>

<% content_for :perpagejs do %>
<script>
$(function(){
  var toggle = 0;
  $('.category-nav li img').click(function(){
    if (toggle == 0) {
      $(this).attr('src', '/assets/up-arrow-grey.svg');
      toggle = 1;
    } else {
      $(this).attr('src', '/assets/down-arrow-grey.svg');
      toggle = 0;
    }
    $(this).closest('li').find('ul').toggle();
  })
})
</script>
<% end %>