<section class="blog archiveitem">
  <header>
    <%= render "shared/nav" %>
  </header>
  <aside>
    <h2>Archive</h2>
    <h3><%= @item.name %></h3>
    <p class="desc"><%= @item.description %></p>
    <p><%= link_to 'Back to archive', archive_path %></p>
  </aside>
  <article style="position: relative;">
    <p class="carousel-prev"><a href=""><img src="/assets/left-arrow.svg" alt="&laquo;" style="height:100%" /><span>previous archive item</span></a></p>
    <%= image_tag @item.image_style_one_url %>
    <p class="carousel-next"><a href=""><img src="/assets/right-arrow.svg" alt="&raquo;" style="height:100%" /><span>next archive item</span></a></p>
  </article>
 </section>

 <%= render "shared/footer" %>
