<section class="blog archive">
  <header>
    <%= render "shared/nav" %>
  </header>
  <aside>
    <h2>Archive</h2>
    <p>Reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <ul class="category-nav">
    <li>Category
      <ul>
      <% @categories.each do |category| %>
        <li><a href="?category=<%= category.id %>" <%= if category.id.to_s == params['category'] then raw("class='current'") end %>><%= category.name %></a></li>
      <% end %>
      </ul>
    </li>
    <li>Date</li>
    </ul>

  </aside>
  <article>
    <div id="items">

    <% @items.each_with_index do |item, index| %>
      <div class="archive-item">
        <span class="inside">
          <div class="inside-inside">
            <% if index == 2 || index == 4 %>
              <%= image_tag item.image_style_three_url %>
            <% else %>
              <%= image_tag item.image_style_one_url %>
            <% end %>
            <a href="/archive/<%= item.id %>">
              <div class="item-overlay">
                <img class="down-triangle" src="/assets/down-triangle.svg" />
                <p>Archive item</p>
                <%= item.name %>
              </div>
            </a>
          </div>
        </span>
      </div>
    <% end %>
  </article>
</section>

<%= will_paginate @items %>
<%= render "shared/footer" %>

