<div id="navigation">
  <header>
    <%= render "shared/nav" %>
  </header>
</div>

<section class="blog archive">
  <aside>
    <h2>Archive</h2>
    <p>Reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <ul class="category-nav">
    <li>Category
      <ul>
      <% @categories.each do |category| %>
        <li><a href="?category=<%= category.id %>" <%= if category.id.to_s == params['category'] then raw("class='current'") end %>><%= category.name %></a><%= if category.id.to_s == params['category'] then raw('<a style="float:right" href="/archive">x</a>') end %></li>
      <% end %>
      </ul>
    </li>
    <li>Date</li>
    </ul>
  </aside>

  <article>
    <% @items.each_with_index do |item, index| %>
      <div class="archive-item">
        <span class="inside">
          <div class="inside-inside">
            <% if index == 2 || index == 4 %>

              <!-- TODO: check image aspect ratio here -->
              <div class="not-fullscreen background" style="background-size: auto 100%; background-image:url('<%= item.image_style_three_url %>');" data-img-width="750" data-img-height="987">
            <% else %>
              <div class="not-fullscreen background" style="background-size: 100%; background-image:url('<%= item.image_style_one_url %>');" data-img-width="3000" data-img-height="2144">
            <% end %>
              <a href="/archive/<%= item.id %>">
                <div class="item-overlay">
                  <div class="tc">
                    <img class="down-triangle" src="<%= asset_path "down-triangle.svg" %>" />
                    <p>Archive item</p>
                    <%= item.name %>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </span>
      </div>
    <% end %>
  </article>
</section>

<%= will_paginate @items %>

<%= render "shared/footer" %>

<script>
function doThis(){
  if($(window).width() < 509){
    $(window).resize({'widthEle' : '.archive-item', 'heightEle' : '.archive-item'}, backgroundResize);
  }
}

var resizeTimer;
$(window).resize(function(){
  clearTimeout(resizeTimer);
  resizeTimer = setTimeout(doThis, 100);
});

$(function(){
  $('nav').waypoint('sticky');

  if($(window).width() < 509){
    backgroundResize({ 'data' : {'widthEle' : '.archive-item', 'heightEle' : '.archive-item'}})
  }
})

</script>