<section class="blog archive">
  <header>
    <%= render "shared/nav" %>
  </header>
  <aside>
    <h2>Archive</h2>
    <p>Reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <% @categories.each do |category| %>
      <p><a href="?category=<%= category.id %>"><%= category.name %></a></p>
    <% end %>

    <p>Date</p>

  </aside>
  <article>
    <div id="items">

    <% @items.each_with_index do |item, index| %>
      <div class="archive-item">
        <% if index == 2 || index == 4 %>
          <%= image_tag item.image_style_three_url %>
        <% else %>
          <%= image_tag item.image_style_one_url %>
        <% end %>
        <a href="/archive/<%= item.id %>">
          <div class="item-overlay">
            <%= item.description %>
            <%= item.name %>
          </div>
        </a>
      </div>
    <% end %>
  </article>
</section>

<%= will_paginate @items %>
<%= render "shared/footer" %>

