<div id="navigation">
  <header>
    <%= render "shared/nav" %>
  </header>
</div>

<section class="blog archive">
  <aside>
    <h2>Archive</h2>
    <p>Reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <ul class="category-nav">
    <li>Category <img style="float: right; padding-top: 3px" class="down-triangle" src="/assets/down-arrow-grey.svg" />
      <ul>
      <% @categories.each do |category| %>
        <li><a href="?category=<%= category.id %>" <%= if category.id.to_s == params['category'] then raw("class='current'") end %>><%= category.name %></a><%= if category.id.to_s == params['category'] then raw('<a style="float:right" href="/archive">&times;</a>') end %></li>
      <% end %>
      </ul>
    </li>
    <li>Date <img style="float: right; padding-top: 3px" class="down-triangle" src="/assets/down-arrow-grey.svg" />
      <ul>
        <% @months.each do | month | %>
          <li><a href="?date=<%= month %>" <%= if month == params['date'] then raw("class='current'") end %>><%= month %></a><%= if month == params['date'] then raw('<a style="float:right" href="/archive">&times;</a>') end %></li>
        <% end %>
      </ul>
    </li>
    </ul>
  </aside>

  <article>
    <% @items.each_with_index do |item, index| %>
      <div class="archive-item">
        


    <div class="table">
        <div style="display: inline-block; position: relative;">
          <img class="image" src="<%= asset_path item.imageStyleOne %>" style="margin: 0 auto; <%= if item.imageStyleOne.height > item.imageStyleOne.width then "height: 220px; width: auto" else "height: auto; width: 100%" end %>" />

          <!-- info overlay -->
          <a href="/archive/<%= item.id %>">
            <div class="item-overlay">
              <div class="tc">
                <img class="down-triangle" src="<%= asset_path "down-triangle.svg" %>" />
                <p>Archive item</p>
                <%= item.name %>
              </div>
            </div>
          </a>
        </div>
    </div>



      </div>
    <% end %>
  </article>
</section>

<%= will_paginate @items %>

<% content_for :perpagejs do %>
<script>
$(function(){
  var toggle = 0;
  $('.category-nav li img').click(function(){
    if (!$(this).data('toggle')) {
      $(this).data('toggle', 0);
    }
    if ($(this).data('toggle') == 0 ) {
      $(this).attr('src', '<%= asset_path "up-arrow-grey.svg" %>');
      $(this).data('toggle', 1);
    } else {
      $(this).attr('src', '<%= asset_path "down-arrow-grey.svg" %>');
      $(this).data('toggle', 0);
    }
    $(this).closest('li').find('ul').toggle();
  })

  // only do this for non-touch devices because it's hover behaviour
  $('.table div img.image').on('hover', function(){
      $(this).next('.item-overlay').data('my-height', $(this).height());
      $(this).next('.item-overlay').css('height', $(this).height());
  })
})
</script>
<% end %>