<!DOCTYPE html>
<html>
<head>
  <title>Shimell and Madden</title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= yield :meta %>
  <%= render "shared/svgicons" %>
</head>
<body class="<%== bodyclass() %>">
  <div id="contentcontainer">
    <div id="items"> 
      <section class="blog items">
        <p id="shoplinks">
          <a href="https://shimell-and-madden-2.myshopify.com/"><%= render 'shared/cart' %>Shop</a>
        </p>
        <p id="homepagelinks">
          <a target="_blank" href="http://instagram.com/Shimell_Madden/">Instagram</a>
          <a target="_blank" href="https://www.facebook.com/pages/Shimell-and-Madden/153510408023083">Facebook</a>
          <a target="_blank" href="https://twitter.com/Shimell_Madden">Twitter</a>
        </p>
        <div id="my-carousel" class="my-carousel">
          <% @homepageitems.each_with_index do |item, index| %>
            <style>
              @media (max-width: 600px) { .b-<%=index %> { background-image:url('<%= item.img_url_small %>');  } }
              @media (min-width: 601px) { .b-<%=index %> { background-image:url('<%= item.img_url_large %>');  } }
            </style>
            <div class="carousel not-fullscreen background b-<%=index %><% if index == 0 %> active<% end %>" style="background-size:cover;"></div>
          <% end %>
          <div class="content-a">
            <div class="content-b">
              <h1><%= render 'shared/logotype' %><%= render 'shared/logo' %></h1>
            </div>
          </div>
          <p class="carousel-prev"><%= render 'shared/rightarrow' %></p>
          <p class="carousel-next"><%= render 'shared/leftarrow' %></p>
          <p class="indicator"></p>
        </div> <!-- end carousel -->

        <div class="pre-addition">
          <%= render 'shared/sitenav', :logo => false %>
          <div class="pre-pre-addition">
            <article style="margin-top: 22px;">

              <!-- item -->
              <% @items.each_with_index do |item, index| %>
              <div class="item item-<%= index+1 %>">
                <div class="not-fullscreen background" style="background-image:url(<%= item.img_url_small %>); background-size: cover; background-position: 50% <%= item.weight %>">
                  <a href="/{{ url this }}/{{ getid this }}"> 
                    <div class="content-a">
                      <div class="content-b">
                        <%= if item.group then item.group.name else "Archive" end %>
                        <hr style="width: 150px; margin: 16px auto;">
                        <p><%= if item.group then item.group.grouptype else "Archive" end %></p>
                      </div>
                    </div>
                  </a>
                </div>
                <p class="proj-name"><%= if item.group then (item.group.grouptype + ": " + item.group.name) else "Archive" end %></p>
              </div>
              <% end %>
              <!-- /item -->



              <div id="progress">
                <img src="<%= asset_path "progress.gif" %>" />
              </div>
            </article>
          <%= render "shared/footer" %>
          </div>
        </div>
      </section>
    </div>

    <% content_for :perpagejs do %>
    <%= render 'shared/handlebars' %>
    <script>
      /* 
       *  this is for infinite scroll
      */
      var page = 2;
      var item = 6;

      function getItems(pageNumber, initialScroll) {
        $.get('/items.json?page=' + page, function(resp){

          // process response with handlebar template
          for(var i = 0; i < resp.length; i++) {
            var context = resp[i];
            context.num = i+1;
            // and add it to the page
            $(template(context)).insertBefore($('#progress')).animate({ opacity : 1 }, 1500);
          }

          if(resp.length < 6) {
            $('#progress').hide();
            $('footer').data('am-i-appeared', true);
          } else {
              $('footer').data('am-i-appeared', false);
          }

          item += resp.length;

          $('footer').animate({ opacity : 1 } );
          $('footer').appear();
          $('footer').show();
        });
      }
      
      function doTransition(e) {
        e.preventDefault();
        $('html,body').animate({
          scrollTop: $('.pre-addition').offset().top
        }, 1000);
      }


      // this sets up the element we watch to check when it enters the viewport
      // so we can load more content. in our case it's the footer
      $('document').ready(function() {

        $('nav').appear();

        $('header').waypoint('sticky');
        
        // transition from 'homepage' carousel to list of all items
        $('h1').click(doTransition);

        $(document.body).on('appear', 'nav', function(e) {
          var $this = $(this);
          if ($this.data('am-i-appeared')) {
            return;
          }
          $this.data('am-i-appeared', true);

          $('#progress').show();

          window.setTimeout(function(){
            getItems(page, true)
          }, 500);
        });     



        $(document.body).on('appear', 'footer', function(e) {
          var $this = $(this);
          if ($this.data('am-i-appeared')) {
            return;
          }
          $this.data('am-i-appeared', true);
          page++;

          $('#progress').show();

          window.setTimeout(function(){
            getItems(page)
          }, 1000);
        });



        carouselAuto = window.setInterval(function(){
          $('.carousel-next').click();
        }, 4000)
      });  

    </script>
    <% end %>



    
    <%= javascript_include_tag "application" %>
    <%= yield :perpagejs %>
    <%= render 'shared/ga' %>
  </div>
</body>
</html>