<div id="navigation" style="<%= if @page.to_i > 1 then "opacity:1; display: block" else "opacity: 0" end %>;">
  <header>
    <%= render "shared/nav" %>
  </header>
</div>

<% if @page.to_i > 1 %>



  <div id="items"> 
    <section class="blog items">
      <article>
        <% @items.each_with_index do |item, index| %>
          <div class="item item-<%= index+1 %>">
            
            
              <%= link_to item.collection do %>
                <div class="not-fullscreen background" style="background-image:url('<%= item.large.url %>'); background-size: cover;">
                  <div class="content-a">
                    <div class="content-b">
                      <img class="down-triangle" src="<%= asset_path "down-triangle.svg" %>" />
                      <p>Collections</p>
                      <%= item.collection.name %>
                      <%= item.name %>
                    </div>
                  </div>
                </div>
              <% end %>

          </div>
        <% end %>
      </article>
    </section>
    <%= will_paginate @items %>
  </div> <!-- end items -->



<% else %>



  <div id="items"> 
    <section class="blog items">
      <div id="my-carousel">
        <% @homepageitems.each_with_index do |item, index| %>
          <div class="carousel not-fullscreen background<% if index == 0 %> active<% end %>" style="background-image:url('<%= item.large.url %>'); background-size:cover;">
            <div class="content-a">
              <div class="content-b">
                <h1><a href="/items"><img src="<%= asset_path "logotype.svg" %>" /></a></h1>
              </div>
            </div>
          </div>
        <% end %>
        <p class="carousel-prev"><img src="<%= asset_path "left-arrow.svg"%>" alt="&laquo;" style="height:100%" /></p>
        <p class="carousel-next"><img src="<%= asset_path "right-arrow.svg"%>" alt="&raquo;" style="height:100%" /></p>
      </div> <!-- end carousel -->
    </section>
  </div>


  
<% end %>

<% content_for :perpagejs do %>
<script>

  /* 
   *  this is for infinite scroll
  */
  var page = 1;
  var item = 6;
  var assTri = '<%= asset_path "down-triangle.svg" %>';

  function getItems(pageNumber) {
    $.get('/items.json?page=' + page, function(resp){
      
      for(var i = 0; i < resp.length; i++) {
        $('article img.progress').animate({ opacity : 0 }, function(){
          this.remove();
        })
        $('<div style="opacity: 0;" class="item item-' + (i+1) + '"><div class="not-fullscreen background" style="background-image:url('+resp[i].large+'); background-size: cover"><div class="content-a"><div class="content-b">' + 

          '<a href="/collections/' + resp[i].collectionId + '">' + 

          '<p><img src="'+assTri+'" class="down-triangle" /></p><p>' +

          (resp[i].isProject ? ('Projects') : ('Collections')) + 

          '</p>' + resp[i].collectionName + 

          '</div></div></div>').appendTo($('article')).animate({ opacity : 1 }, 1500);
      }

      if(resp.length < 6) {
        $('footer').data('am-i-appeared', true);
      } else {
        $('footer').data('am-i-appeared', false);
      }

      item += resp.length;

      $('footer').animate({ opacity : 1 } );
      $('footer').appear();
    });
  }
  

  // this sets up the element we watch to check when it enters the viewport
  // so we can load more content. in our case it's the footer
  $('document').ready(function() {

    $(document.body).on('appear', 'footer', function(e) {
      var $this = $(this);
      if ($this.data('am-i-appeared')) {
        return;
      }
      $this.data('am-i-appeared', true);
      page++;
      getItems(page);
    });

    $('h1 a').on('hover', function(){
      $('.content-a').toggleClass('hoverShadow');
    });

    // transition from 'homepage' carousel to list of all items
    $('h1 a').click(function(e) {
      var x = $('#my-carousel');
      var xHeight = x.outerHeight();
      e.preventDefault();

      // set URL
      history.replaceState(null, null, "/items");

      x.animate({top: -(xHeight)}, 1500, function(){

        $('#navigation').animate({ opacity : 1 });
        $('body').removeClass('home');
        $('body').addClass('items');
        x.remove();

        $('#items section').append('<article style="min-height: ' + (xHeight-$('#navigation').height()) + 'px;" ><img class="progress" src="<%= asset_path "progress.gif" %>" width="34px" height="34px" style="width: 34px; height: 34px; position: absolute; left: 50%; top: 50%; margin: -17px 0 0 -17px;" /></article>');

        getItems(page);
      });
    });

    homepageCarouselAuto = window.setInterval(function(){
      $('.carousel-next').click();
    }, 4000)
  });  

</script>
<% end %>