<div id="items"> 
  <section class="blog items">
    <div id="my-carousel">
      <% @homepageitems.each_with_index do |item, index| %>
        <style>
          @media (max-width: 600px) { .b-<%=index %> { background-image:url('<%= item.small.url %>');  } }
          @media (min-width: 601px) { .b-<%=index %> { background-image:url('<%= item.large.url %>');  } }
        </style>
        <div class="carousel not-fullscreen background b-<%=index %><% if index == 0 %> active<% end %>" style="background-size:cover;"></div>
      <% end %>
      <div class="content-a">
        <div class="content-b">
          <h1><a href="/items"><img src="<%= asset_path "logotype.svg" %>" /></a></h1>
        </div>
      </div>
      <p class="carousel-prev"><img src="<%= asset_path "left-arrow.svg"%>" alt="&laquo;" style="height:100%" /></p>
      <p class="carousel-next"><img src="<%= asset_path "right-arrow.svg"%>" alt="&raquo;" style="height:100%" /></p>
      <p class="indicator"></p>
    </div> <!-- end carousel -->
  </section>
</div>

<% content_for :perpagejs do %>



<!-- ****************************
*    HANDLEBARS TEMPLATING SHIZ
********************************* -->
<script id="item-list-template" type="text/x-handlebars-template">
  <div style="opacity: 0;" class="item item-{{num}}">
    <div class="not-fullscreen background" style="background-image:url({{large}}); background-size: cover">
      <a href="/{{ url this }}/{{groupId}}"> 
        <div class="content-a">
          <div class="content-b">
            <p>
              <img src="<%= asset_path "down-triangle.svg" %>" class="down-triangle" />
            </p>
            <p>{{ type this }}</p>
            {{groupName}}
          </div>
        </div>
      </a>
    </div>
    <p class="proj-name">{{ type this }}: {{groupName}}</p>
  </div>
</script>

<script>
  Handlebars.registerHelper("type", function(context){
    return (context.archived) ? 'Archive': context.groupType;
  });

  Handlebars.registerHelper("url", function(context){
    return (context.archived) ? 'archive': (context.groupType.toLowerCase() + 's');
  });

  var source   = $("#item-list-template").html();
  var template = Handlebars.compile(source);
</script>
<!-- *********************************
*    END OF HANDLEBARS TEMPLATING SHIZ
************************************** -->




<script>
  /* 
   *  this is for infinite scroll
  */
  var page = 1;
  var item = 6;

  function getItems(pageNumber) {
    $.get('/items.json?page=' + page, function(resp){
    
      // removeprogress indicator/spinner
      $('article img.progress').animate({ opacity : 0 }, function(){
        this.remove();
      })
      
      // process response with handlebar template
      for(var i = 0; i < resp.length; i++) {
        var context = resp[i];
        context.num = i+1;
        // and add it to the page
        $(template(context)).appendTo($('article')).animate({ opacity : 1 }, 1500);
      }

      if(resp.length < 6) {
        $('footer').data('am-i-appeared', true);
      } else {
        $('footer').data('am-i-appeared', false);
      }

      item += resp.length;

      $('footer').animate({ opacity : 1 } );
      $('footer').appear();
    });
  }
  

  // this sets up the element we watch to check when it enters the viewport
  // so we can load more content. in our case it's the footer
  $('document').ready(function() {

    $(document.body).on('appear', 'footer', function(e) {
      var $this = $(this);
      if ($this.data('am-i-appeared')) {
        return;
      }
      $this.data('am-i-appeared', true);
      page++;
      getItems(page);
    });

    if (!Modernizr.touch) {
      $('h1').hover(
        function(){
          $('.content-a').toggleClass('hoverShadow');
          window.clearInterval(carouselAuto);
        },
        function(){
          $('.content-a').toggleClass('hoverShadow');
          carouselAuto = window.setInterval(function(){
            $('.carousel-next').click();
          }, 4000);
        }
      );
    }

    // transition from 'homepage' carousel to list of all items
    $('h1 a').click(function(e) {
      var x = $('#my-carousel');
      var xHeight = x.outerHeight();
      e.preventDefault();

      // set URL
      history.replaceState(null, null, "/items");

      x.animate({top: -(xHeight)}, 1500, function(){

        $('#navigation').animate({ opacity : 1 }, function(){
          $('header nav').waypoint('sticky');
        })
        
        $('body').removeClass('home');
        $('body').addClass('items');
        x.remove();

        $('#items section').append('<article style="min-height: ' + (xHeight-$('#navigation').height()) + 'px;" ><img class="progress" src="<%= asset_path "progress.gif" %>" width="34px" height="34px" style="width: 34px; height: 34px; position: absolute; left: 50%; top: 50%; margin: -17px 0 0 -17px;" /></article>');

        getItems(page);
      });
    });

    carouselAuto = window.setInterval(function(){
      $('.carousel-next').click();
    }, 4000)
  });  

</script>
<% end %>