<div id="navigation">
  <header>
    <%= render "shared/nav" %>
  </header>
</div>

<div id="items"> 
  <section class="blog items">
    <article>
      <% @items.each_with_index do |item, index| %>
        <div class="item item-<%= index+1 %>">
          
          <% if item.group.grouptype == "Archive" %>
            <a href="/archive/<%= item.id %>">
          <% else %>
            <a href="/<%= item.group.grouptype.downcase %>s/<%= item.group.id %>">
          <% end %>

            <div class="not-fullscreen background" style="background-image:url('<%= item.large.url %>'); background-size: cover;">
              <div class="content-a">
                <div class="content-b">
                  <img class="down-triangle" src="<%= asset_path "down-triangle.svg" %>" />
                  <p><%= item.group.grouptype %></p>
                  <% if item.group.grouptype != "Archive" %><%= item.group.name %><% else %><%= item.name %><% end %>
                </div>
              </div>
            </div>
          </a>
          <p class="proj-name"><% if item.group.grouptype != "Archive" %><%= item.group.name %><% else %><%= item.name %><% end %></p>
        </div>
      <% end %>
    </article>
  </section>
  <%= will_paginate @items %>
</div> <!-- end items -->

<% content_for :perpagejs do %>
<script>

  /* 
   *  this is for infinite scroll
  */
  var page = 1;
  var item = 6;
  var assTri = '<%= asset_path 'down-triangle.svg' %>';

  function getItems(pageNumber) {
    $.get('/items.json?page=' + page, function(resp){

      for(var i = 0; i < resp.length; i++) {
        $('article img.progress').animate({ opacity : 0 }, function(){
          this.remove();
        })
        $('<div style="opacity: 0;" class="item item-' + (i+1) + '">' + 

          (resp[i].groupType == "Archive" ? ('<a href="/archive/' + resp[i].id + '">') : resp[i].groupType == "Project" ? ('<a href="/projects/' + resp[i].groupId + '">') : ('<a href="/collections/' + resp[i].groupId + '">')) + 

          '<div class="not-fullscreen background" style="background-image:url('+resp[i].large+'); background-size: cover"><div class="content-a"><div class="content-b">' + 

          '<img class="down-triangle" src="'+assTri+'" /><p>' +

          (resp[i].groupType == "Project" ? ('Project') : resp[i].groupType == "Collection" ? ('Collection') : "" )+ 

          '</p>' + resp[i].groupName + '</div></div></div></a><p class="proj-name">' + 

          (resp[i].grouptype != "Archive" ? item.group.name : item.name) + 

          '</p>').appendTo($('article')).animate({ opacity : 1 }, 1500);
      }

      if(resp.length < 6) {
        $('footer').data('am-i-appeared', true);
      } else {
        $('footer').data('am-i-appeared', false);
      }

      item += resp.length;
    });
  }
  

  // this sets up the element we watch to check when it enters the viewport
  // so we can load more content. in our case it's the footer
  $('document').ready(function() {

    $('footer').appear();

    $(document.body).on('appear', 'footer', function(e) {
      var $this = $(this);
      if ($this.data('am-i-appeared')) {
        return;
      }
      $this.data('am-i-appeared', true);
      page++;
      getItems(page);
    });

  });  

</script>
<% end %>