<div id="items">

<section class="blog items">
  <header>
    <%= render "shared/nav" %>
  </header>
  <article>
    <% @items.each_with_index do |item, index| %>

      <% if index == 0 %>
        <div class="item item-one"></div>
      <% elsif index == 1 %>
        <div class="item item-two"></div>
      <% elsif index == 2 %>
        <div class="item item-three"></div>
      <% elsif index == 3 %>
        <div class="item item-four"></div>
      <% elsif index == 4 %>
        <div class="item item-five"></div>
      <% elsif index == 5 %>
        <div class="item item-six"></div>
      <% else %>
        
      <% end %>

       <!--  <p style="display:none">
          <%= item.name %> / 
          <%= item.description %> / 
          <%= item.image %> / 
          <%= item.price %> / 
          <%= item.shipping %> / 
          <%= item.shopifyid %> / 
          <%= link_to 'Show', item %>
          <%= image_tag item.mainImage.url %>
        </p> -->
    <% end %>
  </article>
 </section>

 <%= render "shared/footer" %>

<!-- Backbone shizzle -->
<script type="text/javascript">
  $(function() {
    window.router = new ShimellMadden.Routers.ItemsRouter({items: <%= @items.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>
<!-- end Backbone shizzle -->

</div>

