<div id="items">

<section class="blog items">
  <header>
    <%= render "shared/nav" %>
  </header>
  <article>
    <% @items.each_with_index do |item, index| %>

      <% if index == 0 %>
        <div class="item item-one">
      <% elsif index == 1 %>
        <div class="item item-two">
      <% elsif index == 2 %>
        <div class="item item-three">
      <% elsif index == 3 %>
        <div class="item item-four">
      <% elsif index == 4 %>
        <div class="item item-five">
      <% elsif index == 5 %>
        <div class="item item-six">
      <% end %>
      <%= image_tag item.mainImage.url, height: '100%' %>
          <% if item.collection then %>
          <%= link_to item.collection do %>
            <div style="width: 100%; height: 100%; background-color: #999; opacity: 0.7;">
            <% if item.collection then %><%= item.collection.name %> /<% end %>
            <%= item.name %>
            </div>
          <% end %>
          <% elsif item.project then %>
            <%= link_to item.project do %>
            <div style="width: 100%; height: 100%; background-color: #999; opacity: 0.7;">
            <% if item.project then %><%= item.project.name %> /<% end %>
            <%= item.name %>
            </div>
            <% end %>
          <% end %>
        </div>
    <% end %>
  </article>
 </section>

 <%= render "shared/footer" %>

<!-- Backbone shizzle -->
<script type="text/javascript">
  $(function() {
    window.router = new ShimellMadden.Routers.ItemsRouter({items: <%= @items.to_json.html_safe -%>});
    Backbone.history.start();
  });
</script>
<!-- end Backbone shizzle -->

</div>

