<div id="navigation">
  <header>
    <%= render "shared/nav" %>
  </header>
</div>

<div id="items"> 
  <section class="blog items">
    <article>
      <% @items.each_with_index do |item, index| %>
        <div class="item item-<%= index+1 %>">
          
          <% if item.collection then %>
            <%= link_to item.collection do %>
              <div class="not-fullscreen background" style="background-image:url('<%= item.large.url %>'); background-size: cover;">
                <div class="content-a">
                  <div class="content-b">
                    <img class="down-triangle" src="<%= asset_path "down-triangle.svg" %>" />
                    <p>Collections</p>
                    <%= item.collection.name %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </article>
  </section>
  <%= will_paginate @items %>
</div> <!-- end items -->

<% content_for :perpagejs do %>
<script>

  /* 
   *  this is for infinite scroll
  */
  var page = 1;
  var item = 6;
  var assTri = '<%= asset_path 'down-triangle.svg' %>';

  function getItems(pageNumber) {
    $.get('/items.json?page=' + page, function(resp){
      
      for(var i = 0; i < resp.length; i++) {
        $('article img').animate({ opacity : 0 }, function(){
          this.remove();
        })
        $('<div style="opacity: 0;" class="item item-' + (i+1) + '"><div class="not-fullscreen background" style="background-image:url('+resp[i].large+'); background-size: cover"><div class="content-a"><div class="content-b">' + 

          (resp[i].isProject ? ('<a href="/projects/' + resp[i].projectId + '">') : ('<a href="/collections/' + resp[i].collectionId + '">')) + 

          '<img class="down-triangle" src="'+assTri+'" /><p>' +

          (resp[i].isProject ? ('Projects') : ('Collections')) + 

          '</p>' + 

          (resp[i].isProject ? (resp[i].projectName + ' ' + resp[i].name) : (resp[i].collectionName + ' ' + resp[i].name)) + 

          '</div></div></div>').appendTo($('article')).animate({ opacity : 1 }, 1500);
      }

      if(resp.length < 6) {
        $('footer').data('am-i-appeared', true);
      } else {
        $('footer').data('am-i-appeared', false);
      }

      item += resp.length;
    });
  }
  

  // this sets up the element we watch to check when it enters the viewport
  // so we can load more content. in our case it's the footer
  $('document').ready(function() {

    $('footer').appear();

    $(document.body).on('appear', 'footer', function(e) {
      var $this = $(this);
      if ($this.data('am-i-appeared')) {
        return;
      }
      $this.data('am-i-appeared', true);
      page++;
      getItems(page);
    });

  });  

</script>
<% end %>