<div id="navigation">
  <header>
    <%= render "shared/nav" %>
  </header>
</div>

<div id="items">
  <section class="blog items">
    <article>
      <% @items.each_with_index do |item, index| %>
        <div class="item item-<%= index+1 %>">
          
          <% if item.collection then %>
            <%= link_to item.collection do %>
              <div class="not-fullscreen background" style="background-image:url('<%= item.imageStyleOne.url %>'); background-size: cover;">
                <div class="content-a">
                  <div class="content-b">
                    <img class="down-triangle" src="<%= asset_path "down-triangle.svg" %>" />
                    <p>Collections</p>
                    <%= item.collection.name %>
                    <%= item.name %>
                  </div>
                </div>
              </div>
            <% end %>
          <% elsif item.project then %>
            <%= link_to item.project do %>
              <div class="not-fullscreen background" style="background-image:url('<%= item.imageStyleOne.url %>'); background-size: cover;">
                <div class="content-a">
                  <div class="content-b">
                    <img class="down-triangle" src="<%= asset_path "down-triangle.svg" %>" />
                    <p>Projects</p>
                    <%= item.project.name %>
                    <%= item.name %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </article>
  </section>

  <%= will_paginate @items %>

</div> <!-- end items -->

<% content_for :perpagejs do %>
<script>
  /* 
   *  this is for infinite scroll
  */
  var page = <%= @page %>;
  var item = 6;
  var assTri = '<%= asset_path 'down-triangle.svg' %>';

  $('document').ready(function() {
    
    $('footer').appear();

    $(document.body).on('appear', 'footer', function(e) {
      var $this = $(this);
      if ($this.data('am-i-appeared')) {
        return;
      }
      $this.data('am-i-appeared', true);
      page++;

      $.get('/items.json?page=' + page, function(resp){
        history.replaceState(null, null, "/items?page=" + page);
        for(var i = 0; i < resp.length; i++) {
          console.log(resp[i]);
          $('article').append('<div class="item item-' + (i+1) + '"><div class="not-fullscreen background" style="background-image:url('+resp[i].imageStyleOne+');" data-img-width="3000" data-img-height="2144"><div class="content-a"><div class="content-b">' + 

            (resp[i].isProject ? ('<a href="/projects/' + resp[i].projectId + '">') : ('<a href="/collections/' + resp[i].collectionId + '">')) + 

            '<img class="down-triangle" src="'+assTri+'" /><p>' +

            (resp[i].isProject ? ('Projects') : ('Collections')) + 

            '</p>' + 

            (resp[i].isProject ? (resp[i].projectName + ' ' + resp[i].name) : (resp[i].collectionName + ' ' + resp[i].name)) + 

            '</div></div></div>');
        }
        if(resp.length < 6) {
          $this.data('am-i-appeared', true);
        } else {
          $this.data('am-i-appeared', false);
        }

        window.setTimeout( function(){
          backgroundResize({ 'data' : {'widthEle' : '.item', 'heightEle' : '.item', 'multi' : true, 'pagesize' : 6} });
        }, 500);
        item += resp.length;

      });
    });
  });
</script>
<% end %>