<div id="navigation">
  <header>
    <%= render "shared/nav" %>
  </header>
</div>

<div id="items">
  <section class="blog items">
    <article>
      <% @items.each_with_index do |item, index| %>

        <% if index == 0 %>
          <div class="item item-1">

          <!-- how to write out these data-img-widths for responsive images???? -->

          <!-- how to write out images for accessibility, e.g not as CSS backgrounds?! -->





          <div class="not-fullscreen background" style="background-image:url('<%= item.image_style_one_url %>');" data-img-width="3000" data-img-height="2144"></div>

        <% elsif index == 1 %>
          <div class="item item-2">
          <%= image_tag item.image_style_two_url, height: '100%' %>
        <% elsif index == 2 %>
          <div class="item item-3">
          <%= image_tag item.image_style_three_url, height: '100%' %>
        <% elsif index == 3 %>
          <div class="item item-4">
          <%= image_tag item.image_style_one_url, height: '100%' %>
        <% elsif index == 4 %>
          <div class="item item-5">
          <%= image_tag item.image_style_one_url, height: '100%' %>
        <% elsif index == 5 %>
          <div class="item item-6">
          <%= image_tag item.image_style_one_url, height: '100%' %>
        <% end %>
            
        <% if item.collection then %>
          <%= link_to item.collection do %>
            <div class="item-overlay">
              <img class="down-triangle" src="<%= asset_path "down-triangle.svg" %>" />
              <p>Collections</p>
              <%= item.collection.name %>
              <%= item.name %>
            </div>
          <% end %>
        <% elsif item.project then %>
          <%= link_to item.project do %>
            <div class="item-overlay">
              <img class="down-triangle" src="<%= asset_path "down-triangle.svg" %>" />
              <p>Projects</p>
              <%= item.project.name %>
              <%= item.name %>
            </div>
          <% end %>
        <% end %>
        </div>
      <% end %>
    </article>
  </section>

  <%= will_paginate @items %>

</div> <!-- end items -->

<%= render "shared/footer" %>

  <style>
  .sticky-wrapper {
    margin-bottom: 10px;
    
    float: left;
    width: 100%;
  }
  body header nav {
    margin: 0;
    padding-top: 10px;
  }
  .stuck {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }
  </style>
  <script type="text/javascript">
    $(document).ready(function(){
      $('nav').waypoint('sticky');
    })
  </script>