<section class="blog archiveitem">
  <header>
    <%= render "shared/nav" %>
  </header>
  <aside>
    <h2><%= @item.name %></h2>
    <p class="desc"><%= @item.description %></p>
    <p><%= link_to 'Back to archive', archive_path %></p>
  </aside>
  <article>
    <%= image_tag @item.imageStyleOne.url %>
  </article>
 </section>