<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @item.image %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>

<p>
  <strong>Shipping:</strong>
  <%= @item.shipping %>
</p>

<p>
  <strong>Shopifyid:</strong>
  <%= @item.shopifyid %>
</p>

<p>
  <strong>Collection:</strong>
  <%= @item.collection %>
</p>

<p>
  <strong>Project:</strong>
  <%= @item.project %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
