<section class="blog archiveitem">
  <header>
    <%= render "shared/nav" %>
  </header>
  <aside>
    <h2><%= @item.name %></h2>
    <p class="desc"><%= @item.description %></p>
    <p><%= link_to 'Back to archive', archive_path %></p>
  </aside>
  <article>
    <%= image_tag @item.image_style_one_url %>
  </article>
 </section>

 <%= render "shared/footer" %>

<script>
  $(function(){
    $('nav').waypoint('sticky');
  })
</script>