<!DOCTYPE html>
<html>
<head>
  <title>ShimellMadden</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
</head>
<body class="<%= yield :perpageclass %><%= if controller?("items") && action?("homepage") then "home " elsif controller?("items") && action?("index") then "items " elsif controller?("groups") && action?("index") && params[:type] == 'collections' then "collections" elsif controller?("groups") && action?("show") && params[:type] == 'collections' then "collection" else "other " end %><%= if controller?("pages") && action?("shop") then "shoppage" end %>">
    <script type="text/javascript">document.getElementsByTagName('body')[0].className+=' js'</script>
    <%= yield %>
    <%= render "shared/footer" %>
    <%= javascript_include_tag "application" %>
    <%= yield :perpagejs %>
</body>
</html>
