<!DOCTYPE html>
<html>
<head>
  <title>ShimellMadden</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style>
  .background {
    background-repeat:no-repeat;
    /* custom background-position */
    background-position:50% 50%;
    /* ie8- graceful degradation */
    background-position:50% 50%9 !important;
  }
  
    .fullscreen,
    .content-a {
        width:100%;
        min-height:100%;
    }
    .not-fullscreen,
    .not-fullscreen .content-a,
    .fullscreen.not-overflow,
    .fullscreen.not-overflow .content-a {
        height:100%;
        overflow:hidden;
    }

    /* content centering styles */
    .content-a {
        display:table;
    }
    .content-b {
        display:table-cell;
        position:relative;
        vertical-align:middle;
        text-align:center;
    }

</style>
</head>
<body<%= if controller?("pages") && action?("index") then raw(" class='home'") end %><%= if controller?("pages") && action?("shop") then raw(" class='shoppage'") end %>>

<%= yield %>

<script type="text/javascript">
    (function() {
        var path = '//easy.myfonts.net/v2/js?sid=211388(font-family=DIN+Next+Pro+Bold)&sid=217467(font-family=DIN+Next+Pro+UltraLight)&sid=217469(font-family=DIN+Next+Pro+Regular)&sid=217470(font-family=DIN+Next+Pro+Medium)&key=uYb4wvUYbj',
            protocol = ('https:' == document.location.protocol ? 'https:' : 'http:'),
            trial = document.createElement('script');
        trial.type = 'text/javascript';
        trial.async = true;
        trial.src = protocol + path;
        var head = document.getElementsByTagName("head")[0];
        head.appendChild(trial);
    })();
</script>

<script type="text/javascript">
    (function() {
        var path = '//easy.myfonts.net/v2/js?sid=125713(font-family=Freight+Text+Medium)&sid=125717(font-family=Freight+Text+Light)&sid=125721(font-family=Freight+Text+Book)&sid=125725(font-family=Freight+Text+Bold)&key=0VsT0SopJ2',
            protocol = ('https:' == document.location.protocol ? 'https:' : 'http:'),
            trial = document.createElement('script');
        trial.type = 'text/javascript';
        trial.async = true;
        trial.src = protocol + path;
        var head = document.getElementsByTagName("head")[0];
        head.appendChild(trial);
    })();
</script>

<script type="text/javascript">

function fullscreenFix(){
    var h = $('body').height();
    // set .fullscreen height
    $(".content-b").each(function(i){
        if($(this).innerHeight() <= h){
            $(this).closest(".fullscreen").addClass("not-overflow");
        }
    });
}

function backgroundResize(){
    var windowH = $(window).height();
    var contW = $('#my-carousel').width(); // sets resized image size
    var contH = $('.carousel-item').height(); // sets resized image size.

    $(".background").each(function(i){
        var path = $(this);


        var imgW = path.attr("data-img-width");
        var imgH = path.attr("data-img-height");
        var ratio = imgW / imgH;
        
        // overflowing difference
        var diff = parseFloat(path.attr("data-diff"));
        diff = diff ? diff : 0;

        // remaining height to have fullscreen image only on parallax
        var remainingH = 0;
        
        // set img values depending on cont
        imgH = contH + remainingH + diff;
        imgW = imgH * ratio;

        // fix when too large
        if(contW > imgW){
            console.log('contW > imgW')
            imgW = contW;
            imgH = imgW / ratio;
        }
        //
        path.data("resized-imgW", imgW);
        path.data("resized-imgH", imgH);
        path.css("background-size", imgW + "px " + imgH + "px");
    });
}

// $(window).resize(fullscreenFix);
$(window).resize(backgroundResize);

</script>
</body>
</html>
