<!DOCTYPE html>
<html>
<head>
  <title>Shimell and Madden</title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= yield :meta %>
</head>
<body class="<%== bodyclass() %>">
    <%= render "shared/sitenav", :logo => true %>

    <%= yield :infopagetop %>
    
    <div id="contentcontainer">
      <%= yield %>
      <%= render "shared/footer" %>
      <%= javascript_include_tag "application" %>
      <%= yield :perpagejs %>
      <%= render 'shared/ga' %>
    </div>
</body>
</html>