<!DOCTYPE html>
<html>
<head>
  <title>ShimellMadden</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body<%= if controller?("pages") && action?("index") then raw(" class='home'") end %>>

<%= yield %>

<script type="text/javascript">
    (function() {
        var path = '//easy.myfonts.net/v2/js?sid=211388(font-family=DIN+Next+Pro+Bold)&sid=217467(font-family=DIN+Next+Pro+UltraLight)&sid=217469(font-family=DIN+Next+Pro+Regular)&sid=217470(font-family=DIN+Next+Pro+Medium)&key=uYb4wvUYbj',
            protocol = ('https:' == document.location.protocol ? 'https:' : 'http:'),
            trial = document.createElement('script');
        trial.type = 'text/javascript';
        trial.async = true;
        trial.src = protocol + path;
        var head = document.getElementsByTagName("head")[0];
        head.appendChild(trial);
    })();
</script>

<script type="text/javascript">
    (function() {
        var path = '//easy.myfonts.net/v2/js?sid=125713(font-family=Freight+Text+Medium)&sid=125717(font-family=Freight+Text+Light)&sid=125721(font-family=Freight+Text+Book)&sid=125725(font-family=Freight+Text+Bold)&key=0VsT0SopJ2',
            protocol = ('https:' == document.location.protocol ? 'https:' : 'http:'),
            trial = document.createElement('script');
        trial.type = 'text/javascript';
        trial.async = true;
        trial.src = protocol + path;
        var head = document.getElementsByTagName("head")[0];
        head.appendChild(trial);
    })();
</script>

</body>
</html>
